    </div>
	<div class="footer">
			<div class="bottom_social_link"><!--<img src="{$admin_image_path}social-icon.png" alt="" title="" />--></div>
			<div class="enteryour_query">
				<!--<input type="button" value=">>" class="Query_btn" />
				<input type="text" value="Enter Your Query" class="Query_input"  />-->
			</div>
		</div>
	</div>
</div>
</body>
</html>
