

li{ list-style:none;}




/* TABLES
*******************************************************************************/

/* Grid - General */
.grid                           { border-bottom:0; padding-bottom:15px; float:left; width:100%; }
.grid table                     { width:100%; border:1px solid #cbd3d4; border-bottom:none; }
.grid table.border              { border:1px solid #cbd3d4; }
.grid tbody                     { background:#fff; }    /* Zebra odd-row */
.grid tr.even, .grid tr.even tr { background:#f6f6f6; } /* Zebra even-row */
.grid tr.on-mouse               { background:#fcf5dd; cursor:pointer; } /* Rows mouse-over */
.grid tr.invalid                { background-color:#f5d6c7; }
.grid th, .grid td              { padding:2px 4px 2px 4px; }
.grid th                        { white-space:nowrap; text-align:left; background:#dadfe2; padding:5px; border:1px solid #fff;}
.grid td.editable input.input-text { width:50px !important; margin-left:4px !important; }
.grid td input.input-text       { width:86%; }
.grid td input.input-text-export-filter { width:272px; }
.grid td input.input-text-range { width:104px; }
.grid td input.input-text-range-date { width:87px; }
.grid td input.input-inactive   { background:#eee; }
.grid table td                  { border-width:0 1px 1px 0; border-color:#dadfe0; border-style:solid; background:#FFF; padding:5px; }
.grid table.border td           { background:#fff !important; }
.grid table td.first,
.grid table td.last             { border-right:0; }
.grid table td.product          { text-align:right; }
.grid table td.empty-text       { padding:15px; }
.grid table td .action-select   { width:100%; }
.grid .separator                { padding:0 4px; color:#b9b9b9; }

.grid tbody.odd tr              { background:#fff !important; }
.grid tbody.even tr             { background:#f6f6f6 !important; }
.grid tbody.odd tr td,
.grid tbody.even tr td          { border-bottom:0; }
.grid tbody.odd tr.border td,
.grid tbody.even tr.border td   { border-bottom:1px solid #dadfe0; }


/* ACCORDION
*******************************************************************************/
dl.accordion .grid      { margin-bottom:0; }
dl.accordion dt,
.entry-edit .entry-edit-head { background:#38414B; padding:2px 10px; }
dl.accordion dt, div.collapseable { margin-top:1px; }
dl.accordion dt a, div.collapseable a { background:url(images/entry_edit_head_arrow_down.gif) 100% 50% no-repeat; color:#fff; display:block; font-weight:bold; text-decoration:none; }
div.disabled { background:#c6cbc9 !important; }
div.disabled a { background-image:url(images/entry_edit_head_arrow_down2.gif) !important; color:#f6f6f6 !important; }

.entry-edit fieldset.collapseable { margin-bottom:10px; }

dl.accordion dt a:hover, div.collapseable a:hover { color:#fff; text-decoration:none; }
dl.accordion dt.open a, div.collapseable a.open  { background:url(images/entry_edit_head_arrow_up.gif) 100% 50% no-repeat; }
dl.accordion dd         { display:none; }
dl.accordion dd.open    { display:block; }
img.accordion-btn       { float:right; margin-top:1px; margin-right:5px; }


/* Entry Edit  */ /* Site-wide form fieldset */

table.form-edit                         { width:100%; }
.box,
.entry-edit fieldset,
.entry-edit .fieldset                   { padding:10px 15px; margin:0 0 15px 0; }
.entry-edit .entry-edit-head h4         { float:left; padding:0; background:none; margin:0; color:#fff; font-size:16px; line-height:25px; font-weight:normal; }
.entry-edit .entry-edit-head .tools     { float:right;}
.entry-edit .entry-edit-head strong,
.entry-edit .entry-edit-head a          { color:#fff; font-size:1em; line-height:18px; min-height:0; font-weight:bold}
.entry-edit .content                    { margin-left:0 !important; padding:10px 15px; }
.entry-edit fieldset li,
.entry-edit .fieldset li                { margin:4px 0; }
.entry-edit fieldset span.form_row,
.entry-edit .fieldset span.form_row,
.entry-edit fieldset .field-row .hint,
.entry-edit .fieldset .field-row .hint  { float:left; color:#999; padding-left:12em; }
.entry-edit .form-buttons               { float:right; margin:2px -3px 2px 0pt; }
label.inline                            { float:none !important; width:auto !important; }
.nested-content .entry-edit             { margin-left:2em; }
.nested-content .entry-edit .entry-edit { margin-left:0; }
#coupon_container .entry-edit { min-width:310px; }


/* Form List */ /* Table for default form data */
.form-list                      { width:auto; border:0 !important; }
.form-list td.label,
.form-list td.value,
.form-list td.value2,
.form-list td.note,
.form-list td.scope-label,
.form-list td.use-default       { border:0 !important; padding-top:5px !important; padding-bottom:5px !important; padding-left:5px !important; background:0 !important; }
.form-list td.hidden            { border:0 !important; padding:0 !important; background:0 !important; }
.form-list td.label             { width:200px; }
.form-list td.use-default label { display:inline-block; vertical-align:middle; padding:0 3px; }
.form-list td.label label       { display:block; width:185px; padding-right:15px; padding-top:1px; }
.form-list td.value input.input-text,
.form-list td.value textarea    { width:274px; }
.form-list td.value textarea    { height:15em; }
.form-list td.value select      { width:280px; }
.form-list td.value select.select-date { width:87px; }
.form-list td.note              { background:url(images/note_cell_bg.gif) 6px 10px no-repeat !important; padding-left:18px; }
.form-list td.scope-label       { padding-left:5px; color:#6f8992; font-size:.9em; }
.form-list p.note               { margin:0; padding:0 0 0 13px; background:url(images/note_bg.gif) 1px 6px no-repeat; font-size:11px; }
.form-list td.value p.note      { width:268px; }

.columns .form-list             { width:auto; }
.columns .form-list td.value    { width:300px; padding-right:5px !important; }
.columns .form-list td.value .next-toinput { width:75px; display:inline; margin-right:5px; }
.columns .form-list td.value .next-toselect input.input-text { width:195px!important; display:inline; }

.columns .form-list td.value input[type="checkbox"][id*="use_"] { margin:4px 10px 0 0; vertical-align:top; }
.columns .form-list td.value input[type="checkbox"][id*="use_"] + label { display:inline-block; vertical-align:top; margin:2px 0 0 -7px; }


/* SPACE
*******************************************************************************/
.box-left, .box-right   { width:48.5%; }
.box-left               { float:left; }
.box-right              { float:right; }
.box-left .content,
.box-right .content     { padding:6px 14px; }
.separator, .pipe       { padding:0 6px; font-size:.9em; } /* vertical pipe */
.divider                { display:block; height:1px; margin:8px 0; background:#ddd; overflow:hidden; }  /* horizontal pipe */
td.divider              { font-size:1px; line-height:0; }
.box,
.entry-edit fieldset,
.entry-edit .fieldset { border:1px solid #D2D2D2; background:#fafafa; float:left; width:94.6%;}


/* Orders / Invoices / Shipments / Credit Memos Table */
.order-tables td h5.title { font-size:1em; font-weight:bold; width: 350px;}
.order-tables td .option-label { font-weight:bold; font-style:italic; }
.order-tables td .option-value { padding-left:10px; }
.order-tables td .qty-table { border:0 !important; width:100% }
.order-tables td .qty-table td { border:0 !important; padding:0 4px !important; }

dl.item-options dt { font-weight:bold; font-style:italic; }
dl.item-options dd { padding-left:10px; }

ul.item-options li { padding-left:.7em; }


/* Order Totals */
.order-totals                           { margin-left:auto; border:1px solid #c4cbcf !important; padding:12px 0; background:#dadfe2; text-align:right; }
.order-totals table                     { border:none; background:none; margin-left:auto; }
.order-totals table td                  { padding:3px 20px 3px 10px; }
.order-totals table td.label            { white-space:normal; padding:3px 10px 3px 20px; }
.order-totals table td.last             { padding:2px 6px; }
.order-totals-bottom                    { padding:0 20px; }
.order-totals table .validation-advice  { text-align:right; white-space:nowrap; background-position:100% 1px; padding-right:14px; padding-left:0; }
.grand-total, .grand_total              { font-size:1.2em; font-weight:bold; color:#eb4d00 !important; }


/* Clear */ /* This keeps our HTML free of buncha clearing elements */
.config-heading:after,
.side-col .switcher:after,
.message-popup .message-popup-head:after,
.message-popup .message-popup-content .message:after,
.login-form .form-buttons:after,
.wrapper:after,
.option-title:after,
.columns:after,
.main-col:after,
.content-header-floating:after,
.entry-edit .entry-edit-head:after,
.content-header:after,
.login-box .button-set:after,
ul.tabs-horiz:after,
.header-top:after,
dl.accordion dt:after,
.field-100:after,
.entry-edit fieldset li:after,
.entry-edit fieldset span.field-row:after,
.content:after,
#topnav:after,
.main:after,
.container:after,
.footer:after,
.middle:after,
.header:after,
.box-head:after,
div.actions:after,
.tier-container:after,
.clear:after,
.notification-global:after,
.files .row:after,
.files-wide .row:after,
.grid tr.filter .range .range-line:after,
.store-scope:after { display:block; clear:both; content:"."; font-size:0; line-height:0; height:0; overflow:hidden; }
.note-list{ padding:5px 0 0 0; margin:0;}
