/* @override http://localhost/bxslider_v3_plugin/css/styles.css */

/*
 * To change the color scheme of slider change each 
 * background property for each of the five styles below
 */

/*next button*/
.bx-next {
	position:absolute;
	top:40px;
	right:-185px;
	z-index:999;
	width: 53px;
	height: 102px;
	text-indent: -999999px;
	background: url(../images/next_arro_btn.png) no-repeat 0 0px;
	  outline: medium none;
}

/*previous button*/
.bx-prev {
	position:absolute;
	top:40px;
	left:-30px;
	z-index:999;
	width: 53px;
	height: 102px;
	text-indent: -999999px;
	background: url(../images/previous_arro_btn.png) no-repeat 0 0px;
	  outline: medium none;
}

/*pager links*/
.bx-pager a {
	margin-right: 5px;
	color: #fff;
	padding: 3px 8px 3px 6px;
	font-size: 12px;
	zoom:1;
	background: url(images/gray_pager.png) no-repeat 0 -20px;
}

/*auto start button*/
.bx-auto .start {
	background: url(images/gray_auto.png) no-repeat 0 2px;
	padding-left: 13px;
}

/*auto stop button*/
.bx-auto .stop {
	background: url(images/gray_auto.png) no-repeat 0 -14px;
	padding-left: 13px;
}

/*
 * End color scheme styles
 */


/*next/prev button hover state*/

/*pager links hover and active states*/
.bx-pager .pager-active,
.bx-pager a:hover {
	background-position: 0 0;
}

/*pager wrapper*/
.bx-pager {
	text-align:center;
	padding-top: 7px;
	font-size:12px;
	color:#666;
}

/*captions*/
.bx-captions {
	text-align:center;
	font-size: 12px;
	padding: 7px 0;
	color: #666;
}

/*auto controls*/
.bx-auto {
	text-align: center;
	padding-top: 15px;
}

.bx-auto a {
	color: #666;
	font-size: 12px;
}

.similar_slider_box{ 
    margin: 12px 0 0;
    padding: 9px 0;
    width:750px;
    overflow:hidden;
	height:225px;}
.similar_slider_box h2{     color: #AB273D;
    padding:0;
    width:456px; line-height:36px;}

.slider-img_box{ height:170px;   padding: 0px 0px 0 0px; }

.slider-img_box ul{  margin:5px 0 0 0; padding:0;}

.slider-img_box ul li{  float:left; margin:0px; padding:0; list-style:none;  margin-left:15px; margin-right:15px; position:relative;}

.slider-img_box ul li a{ }
.slider-img_box ul li a:hover{ }

.slider_reapt_div{ color: #000000;font-family: 'Trebuchet MS';font-size: 14px; text-align:center; }

#myphotocategoryId{ width:auto !important}


.album_reapt_img{ }
.slider_bot_box .album_reapt_img{ border:1px solid #ededed;  height:128px; padding:3px;  }

.album_reapt_text_frntpage{text-align:center; font-size:14px; color:#E26700; line-height:16px; padding-top:7px;}


.bx-window{ padding-left:5px;}


.slidergelleri{ padding-left:7.5%;}