@charset "utf-8";

/*-------------------------- Common css --------------------------*/

@font-face {
    font-family: 'segoewpblack';
    src: url('../fonts/segoewp-black.eot');
    src: url('../fonts/segoewp-black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/segoewp-black.woff') format('woff'),
         url('../fonts/segoewp-black.ttf') format('truetype'),
         url('../fonts/segoewp-black.svg#segoewpblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'segoewpsemibold';
    src: url('../fonts/segoewp-semibold.eot');
    src: url('../fonts/segoewp-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/segoewp-semibold.woff') format('woff'),
         url('../fonts/segoewp-semibold.ttf') format('truetype'),
         url('../fonts/segoewp-semibold.svg#segoewpsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'segoewpsemilight';
    src: url('../fonts/segoewp-semilight.eot');
    src: url('../fonts/segoewp-semilight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/segoewp-semilight.woff') format('woff'),
         url('../fonts/segoewp-semilight.ttf') format('truetype'),
         url('../fonts/segoewp-semilight.svg#segoewpsemilight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'segoewp';
    src: url('../fonts/segoewp.eot');
    src: url('../fonts/segoewp.eot?#iefix') format('embedded-opentype'),
         url('../fonts/segoewp.woff') format('woff'),
         url('../fonts/segoewp.ttf') format('truetype'),
         url('../fonts/segoewp.svg#segoewp') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'myriadpro-cond';
    src: url('../fonts/myriadpro-cond_0.eot');
    src: url('../fonts/myriadpro-cond_0.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriadpro-cond_0.woff') format('woff'),
         url('../fonts/myriadpro-cond_0.ttf') format('truetype'),
         url('../fonts/myriadpro-cond_0.svg#myriadpro-cond') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{ margin:0px; padding:0px; line-height:16px; color:#626262; font-size:12px; font-family: 'segoewp'; background:#f4f4f4;}

img{ border:0px;}

:focus, a{ outline:none;}
::selection { background:#9bc55f; color:#fff;}

.clear{ clear:both;} 

.floatleft{ float:left; }
.floatright{ float:right; }

a{ color:#626262; text-decoration:none; outline:none; -webkit-transition-duration: .5s;
-moz-transition-duration: .5s;
-o-transition-duration: .5s;
-ms-transition-duration: .5s;
transition-duration: .5s;}
a:hover{ color:#626262; text-decoration:underline; outline:none; }

input[type="button"]{-webkit-transition-duration: .5s;
-moz-transition-duration: .5s;
-o-transition-duration: .5s;
-ms-transition-duration: .5s;
transition-duration: .5s; }

h1, h2, h3, h4, h5, h6{ margin:0px; padding:0px; }

header, nav, section, footer{ position:relative; display:block;}

.sitecontainer{ margin:0px auto; padding:0px; }
.fixwidth{ margin:0px auto; padding:0px; width:960px; position:relative; }

header{ background:#1f1f1f; border-bottom:24px solid #9bc55f; height:78px;  }
.header{}

.userpanel{ float:right; padding: 30px 0px 0px 0px; }
.user_img{ width:28px; float:left;}
.user_img img{ border:1px solid #595959; }
.username{ margin-left:30px; padding-top:5px; }
.user_nametxt{ max-width:115px; min-width:80px; float:left; font-family: 'segoewpblack'; font-size:12px; color:#ff6600;  }
.user_nametxt a{ color:#ff6600;}
.logout { float:left; font-size:13px; margin-left:5px; font-weight:bold; }
.logout a{ color:#ff6600;  font-family:'segoewpsemilight'; text-transform:uppercase; }
.logout a:hover{ color:#ff6600;}

.user_online_no{ width:29px; height:29px; display:inline-block; float:left; background:#ff6600; color:#fff; text-align:center; line-height:25px; border-radius: 0px 10px 0px 10px; text-shadow: 0px 1px 1px #fff; behavior: url(PIE.htc); margin: 0px 5px;  font-family: 'segoewpsemibold'; font-size:14px; margin-top:-4px; }

.logo{ width:195px; float:left; padding: 20px 0px 0px 0px;}

nav{ font-family: 'segoewpblack'; font-size:12.46px; padding: 37px 0px 0px 0px; text-transform:uppercase; float:right;  }
nav ul{ margin:0px; padding:0px; list-style:none; }
nav li{ margin:0px; padding: 0px 14px; list-style:none; float:left; }

nav a{ color:#fff; height:36px; display:block; border-bottom:5px solid #1f1f1f; }
nav a:hover{ color:#ff6600; border-bottom:5px solid #ffffff; text-decoration:none;}
nav li.active a{ color:#fff; border-bottom:5px solid #ffffff; text-decoration:none;}


footer{ background:#e2e2e2; font-family: 'segoewpsemibold'; font-size:12px;  }
.footer{ padding: 26px 0px 0px 0px;}
.footer h5{ font-size:11px; text-transform:uppercase; text-shadow: 0px 1px 1px #fff; color:#6e6e6e; padding-bottom:7px; font-family: 'segoewpblack'; font-weight:normal; }

.footer ul{ margin:0px; padding:0px; list-style:none; }
.footer li{ margin:0px; padding:0px; list-style:none; line-height:17px; }
.footer a{ color:#6e6e6e;}
.footer a:hover{ color:#ff6600;}
.footernavi h5{ color:#ff6600; }
.footernavi a{ color:#ff6600;}
.footernavi a:hover{ color:#6e6e6e;}

.footer_reapt_box{ width:14.28%; float:left; }

.copyright{ text-align:center; padding: 20px 0px 22px 0px; color:#6e6e6e;}

/*-------------------------- Home Page css --------------------------*/

.container{ padding: 22px 0px 23px 0px;}

.freelance_belt{ background:#e9e9e9; border:1px solid #e6e6e6; border-radius: 0px 20px 0px 20px; text-shadow: 0px 1px 1px #fff; behavior: url(PIE.htc); font-size:15px; padding: 16px 10px 15px 20px; color:#686868;  font-family:'segoewpsemilight'; }
.successpage_freelance_belt{ background:#e9e9e9; border:1px solid #e6e6e6; border-radius: 0px 20px 0px 20px; text-shadow: 0px 1px 1px #fff; behavior: url(PIE.htc); font-size:15px; padding: 16px 10px 15px 20px; color:#686868;  font-family:'segoewpsemilight'; min-height: 200px; text-align: center;}

.freelance_belt h1{ font-size:26px; font-weight:bold; color:#6c6d6a; padding-bottom:12px;  font-family: 'segoewp'; }
.successpage_freelance_belt h1{ font-size:26px; font-weight:bold; color:#6c6d6a; padding-bottom:12px;  font-family: 'segoewp'; line-height: 40px; }
.freelance_belt h2{ font-size:28px; font-weight:bold; color:#6c6d6a; padding-bottom:12px;  font-family: 'segoewp'; }

.two_boxes{ padding: 10px 0px 0px 0px;}
.professionals_box{ width:476px; float:left;}
.professionals_title{ color:#21678f; font-size:21px; font-weight:bold; background:#54b0e5; height:42px; line-height:38px; text-align:center; border-radius: 0px 20px 0px 20px; text-shadow: 0px 0px 2px #70bfec; behavior: url(PIE.htc); }
.professionals_boxbg{ background:#e9e9e9; border:1px solid #e8e7e7; border-radius: 0px 20px 0px 20px; behavior: url(PIE.htc); width:100%; float:left; margin: 8px 0px 0px 0px; padding: 0px 0px 7px 0px; height:317px; } 

.icon_box{ width:100%; float:left; }
.icon_rept{ width:85px; float:left; margin: 8px 7px 12px 55px; text-align:center;}
.icon_img{}
.icon_txt{ text-align:center; font-size:15px; text-shadow: 0px 1px 1px #fff; font-weight:bold; color:#676767; padding-top:3px; white-space:nowrap; }

.project_select{ background:url(../images/drop-arrow.png) no-repeat right top #fff; width:208px; border:1px solid #d2d2d2; border-right:0px; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); float:left; margin: 0px 0px 8px 23px; position:relative; }

/*.project_select select{  height:29px; padding: 2px 0px 0px 0px; width:230px; background:none; border:0px; text-align:center; color:#6e6e6e; font-family: 'segoewp'; font-size:15px;  }*/

.select_boxpart{ width:100%; float:left; background:url(../images/line.png) repeat-x left top; padding: 14px 0px 0px 0px;}

.project_select_input{ width:206px; border:1px solid #d2d2d2; background:#fff; border-right:0px; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); float:left; overflow:hidden; height:28px; margin: 1px 0px 9px 15px;  }
.input_searchitem{ width:150px; border:1px solid #d2d2d2; background:#fff; border-right:0px; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); height:28px; overflow:hidden; margin-bottom:17px; }

.project_select1{ margin-left:25px;}

.project_select_input .search_input{ width:164px; border:0px; background:#54b0e5; color:#fff; text-align:center; vertical-align:top; float:left; height:27px; line-height:27px; font-family: 'segoewp'; font-size:16px; }
.project_select_input .budget_input{ width:162px; border:0px; background:#fff; color:#6e6e6e; text-align:center; vertical-align:top; float:left; height:27px; line-height:27px; font-family: 'segoewp'; font-size:16px;  }
.input_searchitem .budget_input{ width:103px; border:0px; background:#fff; color:#6e6e6e; text-align:center; vertical-align:top; float:left; height:27px; line-height:27px; font-family: 'segoewp'; font-size:14px; padding: 0px 0px 0px 0px;  }

.project_select_input .search_btn{ border:0px; vertical-align:top; float:right; cursor:pointer; }
.input_searchitem .search_btn{ border:0px; vertical-align:top; float:right;}

.brief_box{ margin-left:487px; }
.brief_title{ color:#8c4618; font-size:21px; font-weight:bold; background:#ff6600; height:42px; line-height:38px; text-align:center; border-radius: 0px 20px 0px 20px; text-shadow: 0px 0px 2px #d8793a; behavior: url(PIE.htc); }
.brief_boxbg{ background:#e9e9e9; border:1px solid #e8e7e7; border-radius: 0px 20px 0px 20px; behavior: url(PIE.htc); width:100%; float:left; margin: 8px 0px 0px 0px; padding: 0px 0px 7px 0px; position:relative; } 
.brief_img { text-align:center;}
.brief_txt{ font-size:17px; line-height:20px; text-align:center; text-shadow: 0px 1px 1px #fff; padding: 18px 40px 0px 40px;}
.brief_img{ margin: 43px 0px 41px 0px;}

.send_brif_btn{ background:url(../images/line.png) repeat-x left top; padding: 18px 20px 10px 0px; text-align:right; height:30px;}
.send_brif_btn a{ display:block; background:url(../images/send-a-brief.png) no-repeat left top; width:209px; height:30px; float:right; }
.send_brif_btn a:hover{ display:block; background:url(../images/send-a-brief.png) no-repeat left bottom; }

.send_brif_btn_search{padding: 0px; margin-top:6px;}
.send_brif_btn_search a{ display:block; background:url(../images/send-a-brief-big.png) no-repeat left bottom; width:234px; height:30px; }
.send_brif_btn_search a:hover{ display:block; background:url(../images/send-a-brief-big.png) no-repeat left top; }



.works_box{ background:#e9e9e9; border:1px solid #e8e7e7; border-radius: 0px 20px 0px 20px; behavior: url(PIE.htc); margin: 8px 0px 0px 0px; padding: 0px 0px 17px 0px; *width:100%; *float:left; }
.works_title { background:url(../images/line.png) repeat-x left bottom; padding: 11px 16px 10px 23px; }
.works_title h1{ color:#6e6e6e; font-size:24px; font-weight:bold; text-shadow: 0px 1px 1px #fff; behavior: url(PIE.htc); padding-top:7px; }

.join_aspro_btn{ float:right; }
.join_aspro_btn a{ display:block; background:url(../images/join-as-pro-btn.png) no-repeat left top; width:235px; height:30px; }
.join_aspro_btn a:hover{ display:block; background:url(../images/join-as-pro-btn.png) no-repeat left bottom; }

.works_rept_maindiv { padding: 18px 0px 0px 0px;}
.works_rept_maindiv .floatleft{ float:left; margin-left:22px; margin-right:4px;}

.bottom_belt_bg { background:#e9e9e9; border:1px solid #e8e7e7; border-radius: 0px 20px 0px 20px; behavior: url(PIE.htc); margin: 13px 0px 13px 0px; padding: 16px 0px 17px 24px; }

.hires_box{ font-family:'myriadpro-cond'; font-size:38px; width:365px; float:left;}

.hires_box h2{ color:#7aa144; font-size:20px; font-weight:bold; text-shadow: 0px 1px 1px #fff; behavior: url(PIE.htc); padding-bottom:7px; padding-left:2px; font-family: 'segoewp'; }
.hires_box a{ display:block; background:url(../images/hired-bg.png) no-repeat left top; height:52px; width:33px; line-height:52px; text-align:center; float:left; color:#73993e; }
.hires_box a:hover{ display:block; background:url(../images/hired-bg.png) no-repeat left bottom; text-decoration:none; }

.fired_box{ font-family: 'myriadpro-cond'; font-size:38px; width:280px; float:left;}
.fired_box h2{ color:#676767; font-size:20px; font-weight:bold; text-shadow: 0px 1px 1px #fff; behavior: url(PIE.htc); padding-bottom:7px; padding-left:2px; font-family: 'segoewp'; }
.fired_box a{ display:block; background:url(../images/hired-bg.png) no-repeat left top; height:52px; width:33px; line-height:52px; text-align:center; float:left; color:#676767; }
.fired_box a:hover{ display:block; background:url(../images/hired-bg.png) no-repeat left bottom; text-decoration:none; }

.follow_box { margin-left:664px;}
.follow_box h2{ color:#676767; font-size:20px; font-weight:bold; text-shadow: 0px 1px 1px #fff; behavior: url(PIE.htc); padding-bottom:7px; padding-left:11px; }
.follow_box .floatleft{ margin: 0px 9px;}
.follow_box img:hover{ opacity: 0.5;}


/* inner page */

.container_inner{ padding: 33px 0px 33px 0px;}

.right_basket_title{ border-radius: 0px 15px 0px 0px; behavior: url(PIE.htc); background:#9bc55f; font-family: 'segoewpsemibold'; font-weight:bold; color:#677b4b; text-shadow: 0px 1px 1px #b6e07a; font-size:14px; padding: 6px 10px 7px 10px;  }
.prient_icon{ float:right; }

.right_part{ width:234px; float:right; }

.freelance_bg{  background:#e9e9e9; border:1px solid #e8e7e7; border-radius: 0px 0px 0px 20px; behavior: url(PIE.htc);  }
.free_lance_reptbox{ background:url(../images/line.png) repeat-x left bottom; padding: 5px 7px 8px 9px;}
.free_lance_reptbox_last{ background:none;}
.close_btn{ float:right;}
.free_lanceimg{ float:left;}
.free_lanceimg img{ border:1px solid #d8d8d8; }
.freelance_txt{ font-family: 'segoewpsemibold'; font-size:12px; color:#079ac3;  margin-left:45px; }
.free_lancename{ font-size:14px; color:#666666; text-shadow: 0px 1px 1px #fff; height:20px;  }
.close_btn{ padding-top:6px;}

.get_contact_detail{ margin-top:6px;}
.get_contact_detail a{ display:block; background:url(../images/get-contact-detail.png) no-repeat left top; width:234px; height:32px; }
.get_contact_detail a:hover{ display:block; background:url(../images/get-contact-detail.png) no-repeat left bottom; }

.searchbtn_big{ margin-top:18px;}
.searchbtn_big a{ display:block; background:url(../images/search-btn-big.png) no-repeat left top; width:199px; height:39px; }
.searchbtn_big a:hover{ display:block; background:url(../images/search-btn-big.png) no-repeat left bottom; }

.left_part{ width:200px; float:left;}

.searchpanel_title{ font-size:17.32px; background:#9bc55f; color:#677b4b; text-shadow: 0px 1px 1px #b6e07a; border-radius: 0px 15px 0px 0px; behavior: url(PIE.htc); padding: 7px 0px 8px 23px; line-height:20px; } 
.search_pane_bg { background:#e9e9e9; border:1px solid #e8e7e7; border-radius: 0px 0px 0px 20px; behavior: url(PIE.htc); padding: 16px 0px 0px 21px;} 

.searchitem{ width:150px; background:url(../images/drop-arrow.png) no-repeat right top #fff; height:29px; border:1px solid #d2d2d2; border-right:0px; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); margin-bottom:17px; position:relative;  }
.searchitem_quota{ width:134px; background:url(../images/drop-arrow.png) no-repeat right top #fff; height:29px; border:1px solid #d2d2d2; border-right:0px; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); position:relative;  }

/*.searchitem select{ width:172px; border:0px; height:29px; background:none; padding: 4px 0px 0px 10px;  font-family: 'segoewpsemibold'; font-size:13px; color:#6e6e6e;  } */

.send_brief{ text-align:center;  font-size:15px; color:#fff; text-shadow: 0px 1px 1px #3887b4; margin-top:9px; }
.send_brief a{ color:#fff; background:#54b0e5; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); display:block; text-decoration:none; padding: 12px 0px 11px 0px;  }
.send_brief a:hover{ color:#fff; background:#ff6600; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); display:block; }

.middle_part{ margin: 0px 244px 0px 210px; }

.page_title{ background:#e9e9e9; border:1px solid #e8e7e7; border-radius: 0px 20px 0px 20px; behavior: url(PIE.htc); padding: 16px 0px 20px 21px; font-size:20px; color:#666666; text-shadow: 1px 0px 1px #f7f7f7;}

.filter_bar{ padding: 11px 0px 0px 145px;}
.filter_bar_select{ width:278px; float:right; background:url(../images/drop-arrow.png) no-repeat right top #fff; height:29px; border:1px solid #d2d2d2; border-right:0px; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); margin-bottom:17px; position:relative; margin-right:6px;  }
.filter_bar_select select{ width:300px; border:0px; height:29px; background:none; padding: 1px 0px 0px 20px;  font-family: 'segoewpsemilight'; font-size:15px; color:#6e6e6e;  } 

.photo_content { background:#e9e9e9; border:1px solid #e8e7e7; border-radius: 0px 20px 0px 20px; behavior: url(PIE.htc); padding: 0px 0px 10px 0px; margin-top:9px; width:100%; float:left; }

.filter_bytitle{ font-size:17px; float:left; color:#666666; text-shadow: 1px 0px 1px #f7f7f7; padding: 4px 10px 0px 0px; }


/* result photo */

.search_photorpt_box{ background:url(../images/line.png) repeat-x left top; font-family: 'segoewpsemibold'; padding: 10px 17px 2px 15px; width:94%; float:left;  }
.search_photo_img{ float:left; position:relative;   }
.search_photo_img img{ border:1px solid #c3c3c3; }

.add_to_basket{ width:46px; float:right; margin-left:9px;} 
.basketchackbox{ background:url(../images/add-bas-bg.png) no-repeat left top; height:39px; text-align:center; width:46px; vertical-align:middle; }

.btn_txt{ text-align:center; line-height:12px; text-shadow: 0px 1px 1px #fff; padding-top:3px;}
.search_photo_top{ color:#666666; min-height:70px; height:70px \9;  }
.year_exp{ width:45px; float:right; margin-left:9px; }
.year_exp_bg{ font-size:17.32px; background:#9bc55f; color:#677b4b; text-shadow: 0px 1px 1px #b6e07a; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); padding: 0px 0px 0px 0px; height:39px; text-align:center; line-height:39px; }
.year_exp_bg a { color:#46562f; }

.user_rating{ width:103px; float:right; margin-left:9px;}
.user_rating_bg{ background:#9bc55f; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); padding: 0px 0px 0px 0px; height:39px; text-align:center; line-height:39px; }
.user_rating_bg img{ vertical-align:middle;}

.hour_rate_box{ width:63px; float:right; margin-left:9px;}
.hour_rate_box_bg{ font-size:17.32px; background:#9bc55f; color:#677b4b; text-shadow: 0px 1px 1px #b6e07a; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); padding: 0px 0px 0px 0px; height:39px; text-align:center; line-height:39px; }

.freelace_name{ margin: 0px 290px 0px 74px; padding: 18px 0px 0px 0px; min-height:40px;}
.freelace_name h3{ font-size:17.32px; font-weight:normal; text-shadow: 0px 1px 1px #fff;}
.place_name{ font-size:11.26px;}
.place_name img{ vertical-align:middle;}

.search_photo_txt{ padding-top:2px; min-height:40px; height:40px \9; }

.get_contact_btn{ width:158px; float:right; text-shadow: 0px 1px 1px #697477; padding: 0px 0px 0px 0px; height:30px; text-align:center; line-height:28px; font-size:14px; }
.get_contact_btn a{ color:#fff; background:#54b0e5; display:block; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); text-decoration:none;  }
.get_contact_btn a:hover{ color:#fff; background:#ff6600; display:block; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); text-decoration:none;  }

.pro_txt{ font-size:13px; color:#666666; text-shadow: 0px 1px 1px #fff; font-family: 'segoewpsemilight'; }
.pro_txt strong{ font-size:15px; }

.more_btn{ background:#54b0e5; text-align:center;  font-size:13px; font-weight:bold; color:#fff; text-shadow: 0px 1px 1px #3887b4; padding: 12px 0px 11px 0px; margin-top:20px; width:100%; float:left; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); }
.more_btn a{ color:#fff;}
.more_btn a{ color:#fff; text-decoration:none;}

.create_ac_title{ font-size:25.92px; font-weight:bold; background:#9bc55f; padding: 12px 0px 14px 18px; color:#578b0e; text-shadow: 0px 1px 1px #bfea83; border-radius: 0px 15px 0px 15px; behavior: url(PIE.htc); }
.creat_ac_toptxt{ font-family: 'segoewpsemilight'; font-size:15.55px; line-height:20.74px; background:#e9e9e9; padding: 10px 0px 12px 18px; color:#656565; text-shadow: 0px 1px 1px #fff; border-radius: 0px 15px 0px 15px; behavior: url(PIE.htc); margin-top:8px; }

.creative_ac_bg{ background:#e9e9e9; padding: 6px 0px 10px 0px; color:#656565; text-shadow: 0px 1px 1px #fff; border-radius: 0px 15px 0px 15px; behavior: url(PIE.htc); margin-top:9px; }
.busigness_gray_bg{ background:#e9e9e9; padding: 6px 0px 10px 0px; color:#656565; text-shadow: 0px 1px 1px #fff; border-radius: 0px 15px 0px 15px; behavior: url(PIE.htc); margin-top:9px; }


.input_reapt { height:42px; padding-bottom:5px; padding-top:10px; }
.busigness_gray_bg .input_reapt { height:auto; min-height:30px; padding-bottom:5px; padding-top:8px; }

.input_reapt label{ font-family: 'segoewpsemibold'; font-size:15.55px; display:block; text-align:right; float:left; width:172px; margin-right:7px; line-height:29px; padding-left:10px; }
.busigness_gray_bg .input_reapt label{ font-family: 'segoewpsemibold'; font-size:15.55px; display:block; text-align:right; float:left; width:172px; margin-right:7px; line-height:29px; padding-left:0px; }

.forgot_pass_bg .input_reapt label{ font-family: 'segoewpsemibold'; font-size:15.55px; display:block; text-align:right; float:left; width:120px; margin-right:7px; line-height:29px; padding-left:0px; }
.forgot_pass_bg .input_reapt label{ font-family: 'segoewpsemibold'; font-size:15.55px; display:block; text-align:right; float:left; width:120px; margin-right:7px; line-height:29px; padding-left:0px; }

.pss_input_reapt{ height:42px; padding: 10px 5% 5px 5%;  width:40%; float:left; }
.pss_input_reapt label{ font-family: 'segoewpsemibold'; font-size:15.55px; display:block; text-align:right; float:left; width:140px; margin-right:7px; line-height:29px; padding-left:10px; }


.ac_input{ background:url(../images/input-bg.png) repeat-x left top #fff; border:0px; display:block; float:left; width:143px; height:29px; line-height:29px; padding: 0px 7px; border:1px solid #d1d1d1; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); font-family: 'segoewpsemibold'; font-size:13.83px; margin-right:40px; color:#8b8b8b;}
.ac_input_last{ background:url(../images/input-bg.png) repeat-x left top #fff; border:0px; display:block; float:left; width:143px; height:29px; line-height:29px; padding: 0px 7px; border:1px solid #d1d1d1; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); font-family: 'segoewpsemibold'; font-size:13.83px; color:#8b8b8b;}

.ac_input_sec{ background:url(../images/input-bg.png) repeat-x left top #fff; border:0px; display:block; float:left; width:143px; height:29px; line-height:29px; padding: 0px 7px; border:1px solid #d1d1d1; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); font-family: 'segoewpsemibold'; font-size:13.83px; color:#8b8b8b; margin-right:5px;}

.crt_face_btn{}

.skil_create_acpart{ background:url(../images/line.png) repeat-x left top; padding: 20px 0px 0px 17px; }
.left_ac_rate{ width:440px; float:left; margin-right:22px; }
.ac_rate_repat{ padding-bottom:20px;}
.ac_rate_repat label{ font-family: 'segoewpsemibold'; font-size:15.55px; display:block; text-align:left; float:left; width:272px; line-height:29px; }
.ac_rate_input { background:url(../images/input-bg.png) repeat-x left top #fff; border:0px; display:block; width:143px; height:29px; line-height:29px; padding: 0px 7px; border:1px solid #d1d1d1; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); font-family: 'segoewpsemibold'; font-size:13.83px; color:#8b8b8b;}

.all_skill_box{ width:208px; float: left; padding-top:6px; margin-right:40px;  }
.all_skill_box h3{ font-family: 'segoewpsemibold'; font-size:18px; color:#4ca4d6; padding-bottom:19px; font-weight:normal; }
.all_skill_div{ background:url(../images/input-bg.png) repeat-x left top; border:1px solid #cacaca; background:#fff; overflow:auto; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); font-family: 'segoewpsemibold'; font-size:13px; padding: 8px 8px 5px 8px; height:115px; color:#727272; }
.all_skill_div .plus_icon{ float:right; vertical-align:middle; cursor: pointer;}

.skill_txt{ padding-bottom:3px;}

.your_skill_box{ width:208px; float: left; padding-top:6px;  }
.your_skill_box h3{ font-family: 'segoewpsemibold'; font-size:18px; color:#f96401; padding-bottom:19px; font-weight:normal; }

.submit_creatac{ float:right;}
.submit_creatac a{ display:block; background:url(../images/submit-btn.png) no-repeat left top; width:115px; height:31px; }
.submit_creatac a:hover{ display:block; background:url(../images/submit-btn.png) no-repeat left bottom; }

.submit_creatac input{ display:block; background:url(../images/submit-btn.png) no-repeat left top; width:115px; height:31px; border: 0px; cursor: pointer; }
.submit_creatac input:hover{ display:block; background:url(../images/submit-btn.png) no-repeat left bottom; }

.bot_creatac_box{ background:url(../images/line.png) repeat-x left top; padding: 9px 12px 5px 17px; }

.term_cond_box{ text-transform:uppercase; font-size:9.78px; padding-top:5px;}
.term_cond_box input{ vertical-align:middle;}

.job_requst_titlebox{ padding: 0px 0px 10px 0px;}

.job_requests_title{ font-size:21.34px; font-weight:bold; background:#9bc55f; padding: 10px 0px 16px 21px; color:#578b0e; text-shadow: 0px 1px 1px #bfea83; border-radius: 0px 15px 0px 15px; behavior: url(PIE.htc); width:160px; float:left; margin-right:10px;  }
.freelane_contact_btn{ font-size:15px; font-family: 'segoewpsemibold'; font-weight:bold; background:#54b0e5; padding: 0px 0px 0px 10px; color:#226992; text-shadow: 0px 1px 1px #83c5ed; border-radius: 0px 15px 0px 15px; behavior: url(PIE.htc); width:265px; float:left; line-height:40px; height:42px; text-align:center;}
.quo_rece_btn{ text-align:center; width:162px; margin-right:7px; font-size:12px;}
.quo_rece_btn1{ font-size:13px; text-align:center; width:250px; }
.quo_rece_btn_big{ text-align:center; width:162px; margin-right:7px; font-size:14px;}
.your_brief_btn_big{ text-align:center; width:200px; margin-right:7px; font-size:15px;}

.freelane_contact_btn_right{ float:right; text-align:center;}
.freelane_contact_btn_big{ font-size:17px; width:290px; text-align:center ; padding-right:3px; }

.freelane_contact_btn .floatright{ border-left:2px solid #65b8e8; width:37px; float:right; padding-left:7px; height:42px; line-height:42px; vertical-align:middle;  }
.freelane_contact_btn .floatright img{ vertical-align:middle;}
.freelane_contact_btn a{ color:#327eaa; text-decoration:none;}

.project_name_title{ font-size:21.34px; font-weight:bold; background:#9bc55f; padding: 12px 0px 14px 18px; color:#578b0e; text-shadow: 0px 1px 1px #bfea83; border-radius: 0px 15px 0px 15px; behavior: url(PIE.htc); }

.free_two_box{ padding: 8px 0px 0px 0px;}
.free_first_box{ background:#e9e9e9; border:1px solid #e3e2e2; border-radius: 0px 20px 0px 20px; behavior: url(PIE.htc); width:445px; float:left; margin: 0px 0px 0px 0px; padding: 14px 14px 14px 13px; }
.free_first_box .floatleft{ margin-right:12px; position:relative;}
.free_first_box .floatleft img{ border:1px solid #d2d2d2;}

.quotes_box{ width:156px; float:left; font-family: 'segoewpsemibold'; padding: 8px 0px 0px 0px;  }
.quotes_box h1{ font-size:21.34px; font-weight:normal; text-shadow: 0px 1px 1px #fff; color:#686868; padding-bottom:13px;}
.quotes_roman{ font-size:30.73px; background:#9bc55f; color:#677b4b; text-shadow: 0px 1px 1px #b6e07a; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); padding: 0px 0px 0px 0px; height:55px; text-align:center; line-height:55px; }
.quotes_rec_txt{ font-size:14px; text-align:center; color:#666666; text-shadow: 0px 1px 1px #fff; padding-top:6px;  }

.place_txt{ font-size:12px; text-align:right; text-shadow: 0px 1px 1px #fff; color:#686868; padding: 12px 6px 8px 0px; }
.place_txt img{ vertical-align:middle;}

.place_box{ margin-left:290px; font-family: 'segoewpsemibold';}

.address_box{  font-size:12px; text-shadow: 0px 1px 1px #fff; color:#686868;background:#e9e9e9; border:1px solid #e3e2e2; border-radius: 0px 20px 0px 20px; behavior: url(PIE.htc); width:448px; float:right; padding: 22px 0px 11px 24px; min-height:110px; }
.address_box .floatleft{ width:140px; float:left; padding-bottom:4px;}

.pro_free_rept_box{ background:#e9e9e9; border:1px solid #e3e2e2; border-radius: 0px 20px 0px 20px; behavior: url(PIE.htc); padding: 17px 44px 10px 15px; min-height:110px; margin-top:8px; }
.top_free_rept_box{}
.left_pro_box{ width:285px; float:left; background:url(../images/ver-line.png) repeat-y right top;}
.left_pro_box .floatleft{ float:left; }
.left_pro_box .floatleft img{ border:1px solid #d2d2d2;}

.pro_detail_box{ margin-left:69px; min-height:80px; }
.pro_detail_box h3{ font-family: 'segoewpsemibold'; color:#638e25; font-size:13.66px; padding-bottom:6px;}
.pro_detail_box h2{ text-shadow: 0px 1px 1px #fff; color:#676767; font-size:13.66px; padding-bottom:7px;}
.pro_detail_box h4{ text-shadow: 0px 1px 1px #fff; color:#676767; font-size:11.95px;}

.rating_div_box{ width:324px; float:left; padding-left:35px; background:url(../images/ver-line.png) repeat-y right top; height:80px;}
.rating_div_box h3{ font-size:13px; text-align:center; color:#666666; text-shadow: 0px 1px 1px #fff; padding-top:0px; }
.rating_div_box .floatleft{ width:142px; text-align:center; margin-right:15px; margin-bottom:15px; }

.text_area_btn{ padding:10px 0px 0px 0px;}
.add_comment_box{}
.add_comment_box textarea{ background:url(../images/input-bg.png) repeat-x left top #fff;  width:78%; height:29px; line-height:29px; padding: 0px 7px; border:1px solid #d1d1d1; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); font-family: 'segoewpsemibold'; font-size:13.83px; color:#8b8b8b;}

.submit_feedback_btn{ float:right;}
.submit_feedback_btn a{ display:block; background:url(../images/submit-feedback.png) no-repeat left top; width:156px; height:29px; }
.submit_feedback_btn a:hover{ display:block; background:url(../images/submit-feedback.png) no-repeat left bottom; }


.delete_selected{ width:107px; float:right; margin-top:12px; text-align:center; text-shadow: 0px 1px 1px #b34c08; }
.delete_selected a{ color:#fff; background:#ff6600; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); height:30px; line-height:30px; display:block; text-decoration:none; }
.delete_selected a:hover{ color:#fff; background:#54b0e5; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); height:30px; line-height:30px; display:block; }

.pro_name_title{ font-size:21.34px; font-weight:bold; background:#9bc55f; padding: 12px 36px 14px 18px; color:#578b0e; text-shadow: 0px 1px 1px #bfea83; border-radius: 0px 15px 0px 15px; behavior: url(PIE.htc); }

.view_status_btn{ color:#fff; text-shadow: 0px 1px 1px #697477; padding: 0px 0px 0px 0px; height:39px; text-align:center; font-size:16px; width:153px; float:right; margin-top:-4px;  }
.view_status_btn a{ color:#fff; text-decoration:none; background:#54b0e5; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); line-height:39px; display:block; }
.view_status_btn a:hover{ color:#fff; text-decoration:none; background:#ff6600; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); line-height:39px; display:block; }

.pro_name_box_bg{  background:#e9e9e9; border:1px solid #e3e2e2; border-radius: 0px 20px 0px 20px; behavior: url(PIE.htc); margin: 0px 0px 0px 0px; padding: 15px 14px 15px 20px; margin-top:8px; }

.pro_name_box{ width:232px; float:left; margin-right:10px; margin-bottom:20px; }
.pro_name_box_last{ margin:0px;}

.pro_name_box_main{ padding: 17px 0px 0px 0px;}


.quote_status{ float:right;}
.quote_status_box{ width:471px; float:left; margin-right:10px; margin-bottom:20px; }
.quote_status_box1{ width:471px; float:left; margin-right:10px; margin-bottom:7px; }
.port_status_box{ width:268px; float:left; margin-right:10px; margin-bottom:20px; }

.quote_status_box_last{ margin-right:0px;}

.quote_status_box_bg{ background:#e9e9e9; border:1px solid #e3e2e2; border-radius: 0px 20px 0px 20px; behavior: url(PIE.htc); margin: 6px 0px 0px 80px; padding: 12px 14px 15px 11px;  }
.quotestatusboxbg{ background:#e9e9e9; border:1px solid #e3e2e2; border-radius: 0px 20px 0px 20px; behavior: url(PIE.htc); margin: 6px 0px 0px 0px; padding: 12px 14px 10px 20px; height:43px;  }

.gray_quote_status{ background:#e9e9e9; border:1px solid #e3e2e2; border-radius: 0px 20px 0px 20px; behavior: url(PIE.htc); margin: 0px 0px 0px 0px; padding: 15px 14px 15px 20px; margin-top:6px; width:34px; float:left; }

.view_status_small_btn{ color:#fff; text-shadow: 0px 1px 1px #697477; padding: 0px 0px 0px 0px; height:37px; text-align:center; font-size:16px; width:163px; float:left; }
.view_status_small_btn a{ color:#fff; text-decoration:none; background:#54b0e5; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); line-height:37px; display:block; }
.view_status_small_btn a:hover{ color:#fff; text-decoration:none; background:#ff6600; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); line-height:37px; display:block; }

.view_status_port_btn{ color:#fff; text-shadow: 0px 1px 1px #697477; padding: 0px 0px 0px 0px; height:37px; text-align:center; font-size:16px; width:163px; }
.view_status_port_btn a{ color:#fff; text-decoration:none; background:#54b0e5; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); line-height:37px; display:block;}
.view_status_port_btn a:hover{ color:#fff; text-decoration:none; background:#ff6600; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); line-height:37px; display:block;}


.viewstatussmallbtn{ color:#fff; text-shadow: 0px 1px 1px #697477; padding: 0px 0px 0px 0px; text-align:center; font-size:12.83px; width:163px; float:left; }
.viewstatussmallbtn a{ color:#fff; text-decoration:none; background:#54b0e5; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); height:38px; line-height:38px; display:block; }
.viewstatussmallbtn a:hover{ color:#fff; text-decoration:none; background:#ff6600; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); height:38px; line-height:38px; display:block; }

.get_det_cont{ color:#fff; text-shadow: 0px 1px 1px #697477; padding: 0px 0px 0px 0px; height:38px; text-align:center; font-size:12.83px; margin-left:228px; }
.get_det_cont a{ color:#fff; text-decoration:none; background:#54b0e5; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); line-height:38px; display:block; }
.get_det_cont a:hover{ color:#fff; text-decoration:none; background:#ff6600; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); line-height:38px; display:block; }


.green_approved{ margin-left:193px; font-size:20.53px; font-weight:bold; color:#6a6a6a; text-shadow: 0px 1px 1px #fff; line-height:25px; padding-top:8px; }
.quotestatusboxbg .green_approved{ margin-left:0px; padding-top:6px;}
.port_statusrpt_box .green_approved{ margin-left:0px; padding-top:6px;}


.green_bg{ width:30px; height:30px; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); background:#89e900; float:left; margin-right:10px; }
.port_statusrpt_box .green_bg{ margin-right:8px;}
.red_status_bg{ width:30px; height:30px; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); background:#e53600; float:left; margin-right:10px; }
.port_statusrpt_box .red_status_bg{ margin-right:8px;}

.orange_bg{ width:30px; height:30px; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); background:#ff6600; float:left; margin-right:10px; }
.port_statusrpt_box .orange_bg{ margin-right:8px;}

.view_portfolio_link{ font-family: 'segoewpsemibold'; font-size:16px; padding: 16px 0px 0px 0px; }
.view_portfolio_link a{ color:#696969; text-decoration:underline; }


.edit_cancl_link{ font-size:12.87px; text-shadow: 0px 1px 1px #fff; float:right; padding-top:17px;  }
.edit_cancl_link .edit_brif{ color:#ff6600; }
.edit_cancl_link .cancl_brief{ color:#828282; }

.brief_leftpart{ width:475px; float:left;}
.brief_name_title{ font-size:21.34px; font-weight:bold; background:#9bc55f; padding: 12px 36px 14px 18px; color:#588812; text-shadow: 0px 1px 1px #bfea83; border-radius: 0px 15px 0px 15px; behavior: url(PIE.htc); }

.project_review_bg{ background:#eaeaea; border:1px solid #e3e2e2; border-radius: 0px 20px 0px 20px; behavior: url(PIE.htc); font-size:12px; color:#656565; margin-top:9px; padding: 8px 0px 9px 0px; }
.project_review_bg h3{ font-family: 'segoewpsemibold'; text-shadow: 0px 1px 1px #fff; font-weight:normal; background:url(../images/line.png) repeat-x  left bottom; padding: 0px 0px 11px 10px;  }
.project_review_bg p{ margin:0px; padding: 6px 10px 0px 10px; line-height:15px;}

.project_review_bg1 p{ margin:0px; padding: 5px 10px 0px 10px; line-height:15px; font-size:13.71px;}

.brif_right_part{ margin-left:485px;}

.brief_reapt_box{ margin-bottom:8px;}
.brief_reapt_title{ font-size:15.44px; font-weight:bold; background:#9bc55f; padding:0px 0px 0px 14px; color:#588812; text-shadow: 0px 1px 1px #bfea83; border-radius: 0px 20px 0px 20px; behavior: url(PIE.htc); height:42px; line-height:42px; width:340px; float:left; }
.dated_brief{ margin-left:360px; background:#eaeaea; border:1px solid #e3e2e2; border-radius: 0px 20px 0px 20px; behavior: url(PIE.htc); font-size:12px; color:#656565; padding: 0px 0px 0px 0px; font-size:15.44px; font-weight:bold; color:#6a6a6a; text-shadow: 0px 1px 1px #fff; height:40px; line-height:40px; text-align:center;  }

.brief_send_leftpart{ width:477px; float:left; }

.brief_send_rept_box{ background:#eaeaea; border:1px solid #e3e2e2; border-radius: 0px 20px 0px 20px; behavior: url(PIE.htc); margin-top:9px; padding: 7px 0px 9px 16px; min-height:65px; }
.brief_send_rept_box .floatleft{ float:left; position:relative; }
.brief_send_rept_box .floatleft img{ border:1px solid #d2d2d2;}

.viewprofile{ background:#ff6600; font-family: 'segoewpsemibold'; font-size:9px; text-align:center; height:18px; line-height:18px; position:absolute; left:0px; top:46px; width:62px; }
.viewprofile a{ color:#fff; }

.brif_send_content{ margin-left:74px; padding: 4px 0px 0px 0px;}

.brief_send_title{ font-size:21.34px; font-weight:bold; background:#9bc55f; padding: 12px 36px 14px 18px; color:#588812; text-shadow: 0px 1px 1px #bfea83; border-radius: 0px 15px 0px 15px; behavior: url(PIE.htc); display:inline-block; }

.briefsend_title{ font-size:11.15px; padding-bottom:11px;}
.briefsend_title a{ color:#828282; font-family: 'segoewpsemibold'; text-decoration:none;  }
.use_name_brief{ font-size:15.44px; text-shadow: 0px 1px 1px #fff; color:#666666; font-weight:bold;}

.get_con_detail{ width:156px; float:left; color:#1c6087; text-shadow: 0px 1px 1px #84c6ed; padding: 0px 0px 0px 0px; height:30px; text-align:center; font-size:14px; font-weight:bold; margin-right:7px; }
.get_con_detail a{ color:#1c6087; text-decoration:none; background:#54b0e5; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); line-height:28px; display:block; }
.get_con_detail a:hover{ color:#fff; text-decoration:none; background:#ff6600; }

.pri_dis_btn{ width:178px; float:left; color:#fff; text-shadow: 0px 1px 1px #be4f05; padding: 0px 0px 0px 0px; font-size:12.87px; margin-right:7px; }
.pri_dis_btn a{ color:#fff; text-decoration:none; background:#ff6600; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); height:30px; text-align:center; line-height:28px; display:block; }
.pri_dis_btn a:hover{ color:#fff; text-decoration:none; background:#54b0e5; }

.brif_send_range{ width:30px; float:left; background:#ff6600; color:#fff; text-shadow: 0px 1px 1px #be4f05; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); padding: 0px 0px 0px 0px; height:30px; text-align:center; line-height:28px; font-size:12.87px; }

.submitted_blubtn{ width:30px; height:30px; border-radius: 0px 15px 0px 15px; behavior: url(PIE.htc); background:#54b0e5; float:right; }
.submitted_oraangebtn{ width:30px; height:30px; border-radius: 0px 15px 0px 15px; behavior: url(PIE.htc); background:#ff6600; float:right; }
.submitted_redbtn{ width:30px; height:30px; border-radius: 0px 15px 0px 15px; behavior: url(PIE.htc); background:#e53600; float:right; }
.submitted_greengbtn{ width:30px; height:30px; border-radius: 0px 15px 0px 15px; behavior: url(PIE.htc); background:#89e900; float:right; }


.submitted_txt{ background:#eaeaea; border:1px solid #e3e2e2; border-radius: 0px 0px 0px 20px; behavior: url(PIE.htc); font-size:20.53px; font-weight:bold; color:#6a6a6a; text-shadow: 0px 1px 1px #fff; line-height:25px; padding: 6px 7px 13px 17px; margin-left:223px; }

.quote_status_brief{ margin-left:485px;}
.quote_status_brieftitle { background:#eaeaea; border:1px solid #e3e2e2; border-radius: 0px 20px 0px 0px; behavior: url(PIE.htc); font-size:13.12px; font-weight:bold; color:#6a6a6a; text-shadow: 0px 1px 1px #fff; padding: 8px 0px 8px 10px; }

.quote_status_rptbox{ margin-top:9px;}

.brief_send_part{ padding: 22px 0px 0px 0px;}

.free_lance_imgbox{ min-height:133px; padding: 15px 0px 10px 0px;}
.free_lance_imgbox .floatleft  { padding-left:40px;}
.free_lance_imgbox .floatleft img{ box-shadow: 0px 0px 6px #dcdcdc; border-radius: 8px; behavior: url(PIE.htc); }


.blue_status_box{ width:155px; float:right; height:40px; line-height:40px; margin-left:5px;}
.blue_status_box .floatright{ border-left:2px solid #78c1eb; padding: 0px 8px 0px 6px; height:40px; }
.blue_status_box .floatright img{ vertical-align:middle;}
.box_link_box{ background:#54b0e5; border-radius: 0px 15px 0px 15px; behavior: url(PIE.htc); font-weight:normal; font-size:13px; color:#236b94; text-shadow: 0px 1px 1px #86c7ed; text-align:center; }
.box_link_box1{ font-size:12px; }

.orange_status_box{ margin-right:320px; height:40px; line-height:40px; margin-left:5px;}
.orange_status_box .floatright{ border-left:2px solid #ff8636; padding: 0px 8px 0px 6px; height:40px; width:25px; }
.orange_status_box .floatright img{ vertical-align:middle;}
.orangebox_link_box{ background:#ff6600; border-radius: 0px 15px 0px 15px; behavior: url(PIE.htc); font-size:13px; color:#fff; text-shadow: 0px 1px 1px #c76626; text-align:center; font-weight:normal; }

.edit_cancl_free_brif{ font-size:12.87px; float:right; padding-top:9px;  }
.edit_cancl_free_brif .edit_brif{ color:#ff6600; }
.edit_cancl_free_brif .cancl_brief{ color:#828282; }

.box_nude_box{ width:155px; float:left; height:40px; line-height:40px; margin-right:5px; background:#54b0e5; border-radius: 0px 15px 0px 15px; behavior: url(PIE.htc); font-size:14px; color:#236b94; text-shadow: 0px 1px 1px #86c7ed; text-align:center; font-weight:bold; }
.box_nude_box a{ color:#236b94;}
.nude_overlay_popup .box_nude_box { margin-left:58px;}
.nude_overlay_popup .box_nude_box a{ font-size:14px; color:#fff;}

.orange_nude_box { margin-left:320px; height:40px; line-height:40px; }
.nude_overlay_popup .orange_nude_box{ margin-left:0px; width:162px; float:left; }
.orange_nude_box .floatright{ border-left:2px solid #ff8636; padding: 0px 8px 0px 6px; height:40px; width:25px; }
.orange_nude_box .floatright img{ vertical-align:middle;}

.cancl_brief_div{ float:right; text-shadow:none; padding: 0px 10px 0px 0px;}
.cancl_brief_div a{ color:#828282;}

.private_discussion_bg{ background:#e6e6e6; padding: 0px 0px 0px 0px; border-radius: 0px 20px 0px 20px; behavior: url(PIE.htc); margin-top:9px; }

.free_status_topdiv{ background:url(../images/line.png) repeat-x left bottom; padding: 8px 23px 0px 23px;}
.last_post_txt{ float:right; font-family: 'segoewpsemibold'; color:#858585; padding: 11px 0px 0px 0px; }

.free_status_box{ padding: 0px 10px 10px 0px;}
.free_status_txt{ margin-left:47px; font-family: 'segoewpsemibold'; text-shadow: 0px 1px 1px #fff; padding-top:3px; color:#636363;  }
.free_status_txt h2{ font-size:14px;}
.free_status_txt h4{ font-size:12px;}

.pri_dis_part{ padding: 16px 16px 10px 19px; background:url(../images/line.png) repeat-x left bottom;}

.pri_des_box{ padding: 0px 0px 14px 0px;}
.pri_des_box .floatleft{ float:left;}
.pri_des_box .floatleft img{ border:1px solid #cfcece;}

.private_toking_txt{ position: relative; background: #54b0e5; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); margin-left:90px; width:460px; padding: 9px 9px 12px 9px;  font-family: 'segoewpsemibold'; font-size:11.95px; color:#d9ebf5; }
.private_toking_txt:after { right: 100%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; }
.private_toking_txt:after { border-color: rgba(84, 176, 229, 0); border-right-color: #54b0e5; border-width: 5px; top: 30%; margin-top: -5px; }
.first_dis_date { font-family: 'segoewpsemibold'; color:#616161; text-shadow: 0px 1px 1px #fff; margin-left:90px; width:480px; text-align:right;  }


.prit_des_second{}
.prit_des_second .floatright{ float:right;}
.prit_des_second .floatright img{ border:1px solid #cfcece;}

.second_discus_box{ width:480px; float:right; margin-right:15px; }
.first_dis_date { font-family: 'segoewpsemibold'; color:#616161; text-shadow: 0px 1px 1px #fff; margin-left:90px; width:480px; text-align:right;  }
.green_discus_box { position: relative; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); padding: 9px 9px 12px 9px;  font-family: 'segoewpsemibold'; font-size:11.95px; color:#dbe5cd; background: #9bc55f; }
.green_discus_box:after { left: 100%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; }
.green_discus_box:after { border-color: rgba(155, 197, 95, 0); border-left-color: #9bc55f; border-width: 5px; top: 30%; margin-top: -5px; }

.attached_box{ width:81px; float:right; margin-right:8px; }
.attached_box img{ vertical-align:middle;}
.attached_bg{ background:#9bc55f; padding: 0px 0px 0px 0px; border-radius: 0px 20px 0px 20px; behavior: url(PIE.htc); height:70px; line-height:70px; vertical-align:middle; text-align:center; }

.second_date{ font-family: 'segoewpsemibold'; color:#616161; text-shadow: 0px 1px 1px #fff; text-align:left;  }
.file_name{ font-family: 'segoewpsemibold'; color:#616161; text-shadow: 0px 1px 1px #fff; text-align:center; }

.textarea_nudedis{ width:68%; float:left; margin-right:32px;}
.textarea_nudedis textarea{ background:url(../images/input-bg.png) repeat-x left top #fff;  width:100%; height:50px; line-height:29px; padding: 0px 7px; border:1px solid #d1d1d1; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); font-family: 'segoewpsemibold'; font-size:13.83px; color:#8b8b8b;}
.small_pin_atted{ font-family: 'segoewpsemibold'; color:#616161; text-shadow: 0px 1px 1px #fff; padding: 5px 0px 0px 0px; }
.small_pin_atted img{ vertical-align:middle;}


.attched_btn{ float:left; margin-right:13px;}
.attched_btn a{ display:block; background:url(../images/attached-a-file.png) no-repeat left top; width:114px; height:30px; }
.attched_btn a:hover{ display:block; background:url(../images/attached-a-file.png) no-repeat left bottom; }
.send_btn { height:30px;}
.send_btn a{ display:block; background:url(../images/send-btn.png) no-repeat left top; width:114px; height:30px; float:left; }
.send_btn a:hover{ display:block; background:url(../images/send-btn.png) no-repeat left bottom; }


.bottom_box_nudedis{ padding: 17px 0px 18px 18px;}

.private_discussion_part{ padding: 9px 0px 0px 0px;}


.freelance_contact{ background:#eaeaea; border:1px solid #e3e2e2; border-radius: 0px 20px 0px 20px; behavior: url(PIE.htc); margin-top:9px; padding: 9px 0px 12px 10px; min-height:65px; }
.freelance_contact .floatleft{ float:left; position:relative; }
.freelance_contact .floatleft img{ border:1px solid #d2d2d2;}

.view_pro_link{ background:#ff6600; font-family: 'segoewpsemibold'; font-size:13px; text-align:center; height:23px; line-height:23px; position:absolute; left:0px; top:108px; width:131px; }
.view_pro_link a{ color:#fff; }

.contact_txt{ margin-left:147px; color:#787878; text-shadow: 0px 1px 1px #fff; padding: 7px 0px 0px 0px;}
.contact_txt h1{ font-size:25px; font-weight:bold; padding: 0px 0px 24px 0px;}
.contact_rpt_box{ font-size:14px; line-height:16px; background:url(../images/ver-line.png) repeat-y left top; padding: 0px 0px 0px 22px; width:180px; float:left; min-height:85px; height:85px \9;  }
.contact_rpt_first{ background:none; padding:0px;}


.nude_overlay_popup{ font-family: 'segoewpsemibold'; }
.nude_overlay_popup h1{ font-size:30px; color:#ff6600; text-shadow: 0px 1px 1px #fff; line-height:37px; text-align:center; }
.nude_overlay_txt{ font-size:24px; text-align:center; color:#696969; text-shadow: 0px 1px 1px #fff; line-height:30px; padding-top:9px; }

.nude_overlay_popup{ background:#e6e6e6; padding: 0px 0px 0px 0px; border-radius: 0px 20px 0px 20px; behavior: url(PIE.htc); padding: 28px 38px 30px 38px; width:390px; }
.nude_overlay_popup .thri_status_box{ padding-top:19px;}

.forgotpass_title{ font-size:25.92px; font-weight:bold; background:#9bc55f; padding: 12px 0px 14px 18px; color:#578b0e; text-shadow: 0px 1px 1px #bfea83; border-radius: 0px 15px 0px 15px; behavior: url(PIE.htc); }

.forgot_pass_bg{ background:#eaeaea; border:1px solid #e3e2e2; border-radius: 0px 20px 0px 20px; behavior: url(PIE.htc); margin-top:9px; padding: 9px 0px 7px 0px; font-family: 'segoewpsemilight'; }
.sucus_msg_bg { padding: 40px 0px; }
.forgot_pass_top{ padding: 6px 10px 21px 17px; background:url(../images/line.png) repeat-x left bottom; font-size:20px; color:#656565; text-shadow: 0px 1px 1px #fff; }
.middle_forgot_pass { padding: 10px 10px 10px 0px; background:url(../images/line.png) repeat-x left bottom; color:#656565; text-shadow: 0px 1px 1px #fff; }

.submit_btn_forgot{ padding: 9px 11px 0px 0px; height:31px; } 
.submit_btn_forgot input{ display:block; background:url(../images/submit-btn.png) no-repeat left top; width:115px; height:31px; float:right; border: 0px; cursor: pointer; }
.submit_btn_forgot input:hover{ display:block; background:url(../images/submit-btn.png) no-repeat left bottom; }


.username_txt{ font-family: 'segoewpsemibold'; font-size:15.55px; text-shadow: 0px 1px 1px #fff; color:#646464; padding: 28px 0px 0px 21px; }
.username_txt strong{ font-size:18px;}

.search_login_btn{ padding-left:40px; padding-top:31px; padding-bottom:20px; }
.search_login_btn .floatleft{ margin-left:145px; }
.search_login_btn a.sear_btn_sr{ display:block; background:url(../images/search-btn.png) no-repeat left top; width:206px; height:29px; }
.search_login_btn a.sear_btn_sr:hover{ display:block; background:url(../images/search-btn.png) no-repeat left bottom; }

.search_login_btn a.sear_btn_login{ display:block; background:url(../images/login.png) no-repeat left top; width:206px; height:30px; }
.search_login_btn a.sear_btn_login:hover{ display:block; background:url(../images/login.png) no-repeat left bottom; }


.login_ac{ float:right; position:relative; z-index:99; color:#fff; text-transform:uppercase; font-weight:bold; padding-top:35px; font-size:13px; padding-left:10px;}
.login_ac .creat_ac{ color:#ff6600;  }
.login_ac .creat_ac:hover{ color:#fff;  }
.login_ac .login{ color:#9bc55f;}

.write_sing{ text-align:center;}

.sucuss_msg{  font-size:20px; text-shadow: 0px 1px 1px #fff; color:#646464; padding: 28px 0px 0px 21px; }

.right_sign_img{ padding: 14px 0px 6px 0px;}

.sucuss_msg{ padding-bottom:19px;}

.contact_top_belt{ background:#eaeaea; border:1px solid #e3e2e2; border-radius: 0px 20px 0px 20px; behavior: url(PIE.htc); margin-top:9px; padding: 14px 0px 16px 18px; font-family: 'segoewpsemibold'; font-size:21.62px; text-shadow: 0px 1px 1px #fff; color:#6b6b6b; }
.contact_top_belt a{ color:#85a15e;}
.contact_bg{ background:#eaeaea; border:1px solid #e3e2e2; border-radius: 0px 20px 0px 20px; behavior: url(PIE.htc); margin-top:9px; padding: 25px 0px 23px 18px; }

.cotact_input{ padding-bottom:27px;}
.cotact_input label{ font-family: 'segoewpsemibold'; font-size:15.55px; display:block; text-align:left; float:left; width:290px; margin-right:7px; line-height:29px; padding-left:10px; color:#666666; text-shadow: 0px 1px 1px #fff; }
.contact_input_bg{ background:url(../images/input-bg.png) repeat-x left top #fff; border:0px; display:block; width:205px; height:29px; line-height:29px; padding: 0px 7px; border:1px solid #d1d1d1; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); font-family: 'segoewpsemibold'; font-size:13.83px; color:#8b8b8b;}
.contact_txtarea_bg{ background:url(../images/input-bg.png) repeat-x left top #fff; border:0px; display:block; width:565px; height:150px; line-height:29px; padding: 0px 7px; border:1px solid #d1d1d1; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); font-family: 'segoewpsemibold'; font-size:13.83px; color:#8b8b8b;}

.submit_btncontact{ padding-right:51px; height:31px; }
.submit_btncontact a{ display:block; background:url(../images/submit-btn.png) no-repeat left top; width:115px; height:31px; float:right; }
.submit_btncontact a:hover{ display:block; background:url(../images/submit-btn.png) no-repeat left bottom; }

.your_bref_btn{ margin-right:8px; text-align:center; width:195px; }

.login_page{ color:#686868; } 
.login_bg{ background:#eaeaea; border:1px solid #e3e2e2; border-radius: 0px 20px 0px 20px; behavior: url(PIE.htc); padding: 24px 0px 16px 32px; width:448px; float:left; }
.login_bg h1{ font-size:20.95px; text-shadow: 0px 1px 1px #fff; padding-bottom:21px; }

.login_input{ padding-bottom:12px; }
.login_input label{ font-size:13.06px; font-family: 'segoewpsemibold'; display:block; width:70px; float:left; height:22px; line-height:22px; text-align:right; margin-right:9px; }
.login_input_txt{ background:url(../images/input-bg.png) repeat-x left top #fff; border:0px; display:block; width:315px; height:22px; line-height:22px; padding: 0px 7px; border:1px solid #d1d1d1; font-family: 'segoewpsemibold'; font-size:13.83px; color:#8b8b8b;}

.forgot_pass_txt{ font-size:13px; line-height:25px; float:left;}
.forgot_pass_txt a{ color:#626262; text-decoration:underline;}

.login_loginbtn{ text-align:right; padding-right:35px; padding-top:13px; height:30px;}
.login_loginbtn a{ display:block; background:url(../images/login-blue-btn.png) no-repeat left top; width:114px; height:30px; float:right; }
.login_loginbtn a:hover{ display:block; background:url(../images/login-blue-btn.png) no-repeat left bottom; }

.login_loginbtn input{ display:block; background:url(../images/login-blue-btn.png) no-repeat left top; width:114px; height:30px; float:right; border: 0px; cursor: pointer;}
.login_loginbtn input:hover{ display:block; background:url(../images/login-blue-btn.png) no-repeat left bottom; }

.rightpart_rem_cont .login_loginbtn{ text-align:right; padding-right:20px; padding-top:13px;}

.havent_bot_box{ background:#eaeaea; border:1px solid #e3e2e2; border-radius: 0px 20px 0px 20px; behavior: url(PIE.htc); padding: 65px 0px 73px 32px; margin-left:500px; }
.havent_bot_box h2{ font-size:26.18px; font-weight:bold; text-shadow: 0px 1px 1px #fff; padding-bottom:14px;}
.havent_bot_box h3{ font-size:21.82px; font-family: 'segoewpsemibold'; text-shadow: 0px 1px 1px #fff; font-weight:normal; }
.havent_bot_box h3 img{ vertical-align:middle; margin-left:8px;}
.havent_bot_box h3 a{ display:block; background:url(../images/create-ac.png) no-repeat left top; width:114px; height:30px; float:right; margin-right:10px; }
.havent_bot_box h3 a:hover{ display:block; background:url(../images/create-ac.png) no-repeat left bottom; }


.regular-checkbox { display: none; }
.regular-checkbox + label { background:url(../images/add-bas-bg.png) no-repeat left top; display: inline-block; position: relative; width:36px; height:39px; }
.regular-checkbox:checked + label:after { content: '\2714'; font-size: 14px; position: absolute; top: 10px; left: 25px; color: #99a1a7; padding-left:5px; }
.big-checkbox + label { padding: 18px; }
.big-checkbox:checked + label:after { font-size: 28px; left: 6px; } 


.checkbox_proname{ background:url(../images/check-box-bg.png) no-repeat left top; height:30px; text-align:center; width:31px; vertical-align:middle;  }
.checkbox_proname .regular-checkbox + label { background:url(../images/check-box-bg.png) no-repeat left top; display: inline-block; position: relative; width:31px; height:30px; }
.checkbox_proname .regular-checkbox:checked + label:after { content: '\2714'; font-size: 14px; position: absolute; top: 8px; left: 5px; color: #99a1a7; padding-left:5px; }
.checkbox_proname .big-checkbox + label { padding: 16px; }

.recommed_box{ margin-left:720px; }
.recommed_check_box{ font-family: 'segoewpsemibold'; font-size:11.95px; line-height:20px; color:#666666; text-shadow: 0px 1px 1px #fff; margin-bottom:5px;  }
.recommed_check_box .floatright{ background:url(../images/small-checkbox.png) no-repeat left top; width:22px; height:20px; vertical-align:middle;}
.recommed_check_box .floatright .regular-checkbox + label { background:url(../images/small-checkbox.png) no-repeat left top; display: inline-block; position: relative; width:31px; height:30px; }
.recommed_check_box .floatright .regular-checkbox:checked + label:after { content: '\2714'; font-size: 14px; position: absolute; top: 0px; left: 0px; color: #99a1a7; padding-left:5px; }
.recommed_check_box .floatright .big-checkbox + label { padding: 16px; }

.lance_pro_leftpart{ background:#e9e9e9; border:1px solid #e3e2e2; border-radius: 0px 20px 0px 20px; behavior: url(PIE.htc); width:476px; float:left; margin: 0px 0px 0px 0px; padding: 8px 0px 20px 0px; font-family: 'segoewpsemibold'; }
.lance_pro_leftpart .floatleft{ margin-right:12px; position:relative;}
.lance_pro_leftpart .floatleft img{ border:1px solid #d2d2d2;}

.quotes_box_pro{ width:97px; float:left; font-family: 'segoewpsemibold'; padding: 0px 0px 0px 0px; margin-right:10px;  }
.lance_pro_leftpart h1{ font-size:21.34px; font-weight:normal; text-shadow: 0px 1px 1px #fff; color:#686868; float:left; }
.quotes_roman_pro{ font-size:30.73px; background:#9bc55f; color:#677b4b; text-shadow: 0px 1px 1px #b6e07a; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); padding: 0px 0px 0px 0px; height:55px; text-align:center; line-height:55px; }
.quotes_rec_txt_pro{ font-size:12px; text-align:center; color:#666666; text-shadow: 0px 1px 1px #fff; padding-top:6px;  }

.title_pro_txt{ padding: 9px 0px 3px 0px;}
.place_txt_profile{ font-size:12px; text-align:right; text-shadow: 0px 1px 1px #fff; color:#686868; padding: 3px 6px 5px 0px; }
.place_txt_profile img{ vertical-align:middle;}

.pro_rating{ margin-left:340px; font-family: 'segoewpsemibold';}
.pro_rating img{ vertical-align:middle;}

.top_free_lance{ background:url(../images/line.png) repeat-x left bottom; padding: 0px 9px 0px 10px; height:124px;}

.pro_intro{ text-shadow: 0px 1px 1px #fff; background:url(../images/line.png) repeat-x left bottom; padding: 6px 14px 7px 12px; font-size:13px; }
.pro_intro strong{ font-size:15px;}
.pro_intro p{ margin:0px; padding:0px; }

.more_btn_prointro{ text-align:right; }
.more_btn_prointro img{ vertical-align:middle;}

.price_reapt_box{  text-shadow: 0px 1px 1px #fff; width:110px; float:left; text-align:center; padding-right:2px; background:url(../images/ver-line.png) repeat-y right top; height:55px;  }
.price_reapt_box_last { background:none;}
.price_reapt_box h2{ font-size:25.7px; padding-bottom:12px; font-weight:normal;}
.price_reapt_box .small_txt{ font-size:12px;}

.price_reaptmaindiv{ padding: 17px 0px 0px 12px;}

.edit_feelance_rate { text-align:right; text-shadow: 0px 1px 1px #fff; padding: 0px 12px 0px 0px; } 

.right_topfreelance{ width:471px; float:right; background:#e9e9e9; border:1px solid #e3e2e2; border-radius: 0px 20px 0px 20px; padding: 0px 0px 5px 0px;}
.basket_skill{ width:471px; float:right; background:#e9e9e9; border:1px solid #e3e2e2; border-radius: 0px 20px 0px 20px; padding: 0px 0px 5px 0px; margin-top:10px;}


.top_freelance_add{ font-size:12.58px; text-shadow: 0px 1px 1px #fff; color:#686868; behavior: url(PIE.htc); padding: 22px 0px 17px 24px; min-height:140px; background:url(../images/line.png) repeat-x left bottom; }
.top_freelance_add .floatleft{ width:148px; float:left; padding-bottom:17px; min-height:34px;}
.top_freelance_add .floatleft_email{ width:300px; }

.five_years_experience { float:left;  width:96px; background:#9bc55f; border:1px solid #9bc55f; border-radius: 0px 10px 0px 10px; height:39px; line-height:39px; text-align:center; font-size:15.42px; color:#597b28; text-shadow: 0px 1px 1px #b2dc76; font-weight:bold; }

.bottom_skill{ padding: 16px 0px 0px 0px;} 
.skill_reapt_box{ padding: 0px 0px 0px 10px; background:url(../images/ver-line.png) repeat-y top right; width:158px; float:left; font-size:13px; text-shadow: 0px 1px 1px #fff;  }
.skill_reapt_boxlast{ width:120px; background:none;}
.skill_reapt_box strong{ display:block; font-size:12px; padding-bottom:15px;}

.edit_skill{ float:right; padding-right:5px; font-weight:bold; padding-top:8px;}

.freelance_rating_div{ background:#e9e9e9; border:1px solid #e3e2e2; border-radius: 0px 20px 0px 20px; padding: 0px 0px 0px 0px; margin-top:9px;}
.freelance_rept_div{ background:url(../images/ver-line.png) repeat-y right top; padding: 14px 0px 20px 0px; text-align:center; width:25%; float:left;}
.freelance_rept_div_last{ background:none;}
.freelance_rept_div h3{ font-size:15.85px; font-family: 'segoewpsemibold'; text-shadow: 0px 1px 1px #fff; padding: 0px 0px 9px 0px; font-weight:normal; }

.works_example{ background:#e9e9e9; border:1px solid #e3e2e2; border-radius: 0px 20px 0px 20px; padding: 0px 0px 7px 0px; margin-top:9px;}
.post_comment_maindiv{ background:#e9e9e9; border:1px solid #e3e2e2; border-radius: 0px 20px 0px 20px; padding: 0px 0px 0px 0px; margin-top:9px;}

.works_example_title{ background:url(../images/line.png) repeat-x left bottom; font-size:13.71px; padding: 10px 23px 10px 20px; margin-bottom:13px;}
.title_work_exmp{ font-family: 'segoewpsemibold'; }

.add_btn{ float:right;}
.add_btn a{ color:#ff6600;}

.close_btn_exp{ position:absolute; right:0px; top:0px; }
.work_exp_box{ position:relative; float:left; width:174px; margin-left:15px; }
.work_exp_img{ width:173px; height:133px; }
.work_exp_img img { box-shadow: 0px 0px 10px #c3c2c2; border-radius: 8px; behavior: url(PIE.htc);  }
.work_exp_txt{ font-family: 'segoewpsemibold'; text-align:center; text-transform:uppercase; padding: 7px 0px 0px 0px;  }

.pro_com_txt{ position: relative; background: #54b0e5; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); padding: 9px 9px 4px 9px;  font-family: 'segoewpsemibold'; font-size:11.95px; color:#cee6f4; text-shadow: 0px 1px 1px #3e98cb; }
.pro_com_txt:after { right: 100%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; }
.pro_com_txt:after { border-color: rgba(84, 176, 229, 0); border-right-color: #54b0e5; border-width: 5px; top: 20%; margin-top: -5px; }

.pro_com_logo{ float:left;} 
.pro_com_logo img{ border:1px solid #dadada;}

.pro_com_cont{ margin-left:90px; }
.pro_comt_rept_box { width:444px; float:left; margin-left:22px; margin-bottom:14px; }

.dated_post_comt { text-align:right; font-size:11px; margin-top:-8px;}

.pro_com_cont .floatright{ margin-top:4px;}
.tags_cont_txt{  font-family: 'segoewpsemibold'; text-shadow: 0px 1px 1px #fff; }

.thanks_you_leftpart{ width:244px; float:left; }
.nearlythere_leftpart{ width:356px; float:left; }

.thanks_left_txt{  background:#e9e9e9; border:1px solid #e3e2e2; border-radius: 0px 20px 0px 20px; padding: 11px 0px 18px 13px; font-size:14.68px; font-family: 'segoewpsemibold'; text-shadow: 0px 1px 1px #fff; margin-top:9px;  }
.thanks_left_txt span{ font-size:17.27px;}

.welcomeuser_left_txt_second{  background:#dedddd; border:1px solid #dedddd; border-radius: 0px 20px 0px 20px; padding: 12px 0px 16px 19px; font-size:14.68px; font-family: 'segoewpsemibold'; text-shadow: 0px 1px 1px #fff; margin-top:9px; line-height:18px; }
.welcomeuser_left_txt_minheight{ min-height:142px;}
.welcomeuser_left_txt{  background:#e9e9e9; border:1px solid #e3e2e2; border-radius: 0px 20px 0px 20px; padding: 14px 0px 18px 19px; font-size:14.68px; font-family: 'segoewpsemibold'; text-shadow: 0px 1px 1px #fff; margin-top:9px; line-height:18px; }


.acount_status{ font-size:15px; font-family: 'segoewpsemibold'; font-weight:bold; background:#54b0e5; padding: 0px 0px 0px 10px; color:#fff; text-shadow: 0px 1px 1px #697477; border-radius: 0px 15px 0px 15px; behavior: url(PIE.htc); line-height:40px; height:42px; text-align:center; margin-top:9px;}
.acount_status .floatright{ border-left:2px solid #65b8e8; width:37px; float:right; padding-left:7px; height:42px; line-height:42px; vertical-align:middle;  }
.acount_status .floatright img{ vertical-align:middle;}
.acount_status a{ color:#fff; text-decoration:none;} 
.acount_status a:hover{ color:#fff; text-decoration:none;} 

.center_thanksyou{ background:#e9e9e9; border:1px solid #e3e2e2; border-radius: 0px 20px 0px 20px; padding: 0px 0px 0px 0px; margin-left:254px; }

.thnk_rept_box{ background:url(../images/line.png) repeat-x left bottom; padding: 17px 12px 15px 17px; min-height:80px;}
.thnk_rept_box_last{ background:none;}
.thay_status_bg{ background:#9bc55f; border:1px solid #9bc55f; border-radius: 0px 10px 0px 10px; height:39px; line-height:39px; text-align:center; font-size:15.42px; color:#597b28; text-shadow: 0px 1px 1px #b2dc76; font-weight:bold; }

.thay_status{ width:106px; text-align:center; float:right; margin-left:8px; margin-top:5px;}
.remove_btn_box{ width:55px; text-align:center; float:right; margin-left:8px; margin-top:5px; cursor :pointer;}
.year_exp_year{ width:72px; text-align:center; float:right; margin-left:8px; margin-top:5px; }
.year_rating{ width:102px; text-align:center; float:right; margin-left:8px; margin-top:5px; }
.year_rate{ width:80px; text-align:center; float:right; margin-left:8px; margin-top:5px; }

.thayu_txt{  font-size:14.32px; font-family: 'segoewpsemibold'; padding: 5px 0px 0px 0px; text-shadow: 0px 1px 1px #fff; line-height:13px;}

.thnk_rept_txt{ font-family: 'segoewpsemibold'; text-shadow: 0px 1px 1px #fff; margin-left:91px; padding: 11px 0px 0px 0px; color:#666666; }
.thnk_rept_box .floatleft { position:relative; }
.thnk_rept_box .floatleft img{ border:1px solid #dadada;}
.add_to_basket_link{ background:#ff6600; font-family: 'segoewpsemibold'; font-size:11.98px; text-align:center; height:20px; line-height:20px; position:absolute; left:0px; top:91px; width:113px; }
.add_to_basket_link a{ color:#fff; }

.thnk_rept_txt h2{ font-size:20.72px; padding-bottom:8px; font-weight:normal; }
.thnk_rept_txt h3{ font-size:14.68px; padding-bottom:5px; font-weight:normal; }
.thnk_rept_txt h4{ font-size:12.09px; font-weight:normal; }
.thnk_rept_txt h4 img{ vertical-align:middle; }

.right_bask_freelance{ width:346px; float:right;}

.hour_rat_bas{ font-size:10.93px; width:85px; float:right; text-align:center; padding-left:7px; padding-right:10px; text-shadow: 0px 1px 1px #fff; font-family: 'segoewpsemibold';}
.hour_rat_bas span{ font-size:15.21px; display:block;  }

.yer_exp_box{ font-size:10.93px; width:60px; float:right; text-align:center; text-shadow: 0px 1px 1px #fff; font-family: 'segoewpsemibold';}
.yer_exp_box span{ font-size:15.21px; display:block;  }


.first_last_name{ background:#eaeaea; border:1px solid #e8e8e8; border-radius: 0px 15px 0px 15px; padding: 7px 0px 0px 18px; }
.first_last_name p{ margin:0px; padding:0px; font-family: 'segoewpsemilight'; font-size:12.62px; padding-bottom:7px; }
.first_last_name strong{ font-family: 'segoewpsemibold'; font-weight:normal; }

.right_basket_div{ margin-left:485px; }
.mid_boxes_basket{ margin-right:353px;}

.five_experience{ background:#eaeaea; border:1px solid #e8e8e8; border-radius: 0px 20px 0px 20px; padding: 11px 0px 11px 0px; font-size:14.46px; text-shadow: 0px 1px 1px #fff; margin-top:7px; text-align:center; }
.five_experience span{ font-size:23.01px;}

.basket_get_contact{ text-shadow: 0px 1px 1px #be4f05; margin-top:7px; text-align:center; }
.basket_get_contact a{ color:#fff; background:#ff6600; border:1px solid #ff6600; border-radius: 0px 20px 0px 20px; padding: 5px 0px 8px 0px; display:block; text-decoration:none;}
.basket_get_contact a:hover{ color:#fff; background:#54b0e5; border:1px solid #54b0e5; }


.center_removecont{ background:#e9e9e9; border:1px solid #e3e2e2; border-radius: 0px 20px 0px 20px; padding: 0px 0px 0px 0px; margin-right:365px; overflow: auto; height: 336px;}
.nearlythere_page .center_removecont{ margin-right:0px; margin-left:365px; }
.center_wel_user{ background:#e9e9e9; border:1px solid #e3e2e2; border-radius: 0px 20px 0px 20px; padding: 0px 0px 6px 0px; margin-left:365px; overflow: auto; height: 215px;}

.rightpart_rem_cont{ width:355px; float:right;  }
.rightpart_rem_cont_bg{ background:#eaeaea; border:1px solid #e3e2e2; border-radius: 0px 20px 0px 20px; behavior: url(PIE.htc); padding: 0px 0px 20px 0px;}
.rightpart_rem_cont h1{ font-size:20.95px; text-shadow: 0px 1px 1px #fff; padding-bottom:21px; }

.rightpart_rem_cont .login_input{ padding-bottom:12px; }
.rightpart_rem_cont .login_input label{ font-size:13.06px; font-family: 'segoewpsemibold'; display:block; width:70px; float:left; height:22px; line-height:22px; text-align:right; margin-right:9px; }
.rightpart_rem_cont .login_input_txt{ background:url(../images/input-bg.png) repeat-x left top #fff; border:0px; display:block; width:223px; height:22px; line-height:22px; padding: 0px 7px; border:1px solid #d1d1d1; font-family: 'segoewpsemibold'; font-size:13.83px; color:#8b8b8b;}

.remove_rept_txt { font-family: 'segoewpsemibold'; text-shadow: 0px 1px 1px #fff; margin-left:85px; padding: 0px 0px 0px 0px; color:#666666; }
.remove_rept_txt h2{ font-size:17.27px; padding-bottom:0px; font-weight:normal; }
.remove_rept_txt h3{ font-size:12.09px; padding-bottom:0px; font-weight:normal; }
.remove_rept_txt h4{ font-size:10.36px; font-weight:normal; }
.remove_rept_txt h4 img{ vertical-align:middle; }

.contact_details_basket{ width:120px; color:#fff; text-shadow: 0px 1px 1px #666; text-align:center; font-size:12px; }
.contact_details_basket a{ color:#fff; background:#54b0e5; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); height:30px; line-height:28px; display:block; text-decoration:none; }
.contact_details_basket a:hover{ color:#fff; background:#ff6600; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); height:30px; line-height:28px; display:block; }

.login_div_box{ padding:15px 0px 14px 16px; }
.login_div_box h2{ font-size:18px; font-weight:bold; text-shadow: 0px 1px 1px #fff; padding-bottom:11px;}
.login_div_box h3{ font-size:15px; font-family: 'segoewpsemibold'; text-shadow: 0px 1px 1px #fff; font-weight:normal; }
.login_div_box h3 img{ vertical-align:middle; margin-left:8px;}

.login_div_box h3 a{ display:block; background:url(../images/create-ac.png) no-repeat left top; width:114px; height:30px; float:right; margin-right:10px; }
.login_div_box h3 a:hover{ display:block; background:url(../images/create-ac.png) no-repeat left bottom; }


.seprater_or{ background:url(../images/line.png) repeat-x left 8px; text-align:center; font-size:16px;}
.seprater_or span{ background:#e9e9e9; padding: 0px 10px;}

.login_padding{ padding: 8px 0px 0px 16px;}

.back_result_btn{ font-size:17.27px; font-family: 'segoewpsemibold'; font-weight:bold; background:#54b0e5; padding: 0px 0px 0px 10px; color:#fff; text-shadow: 0px 1px 1px #697477; border-radius: 0px 15px 0px 15px; behavior: url(PIE.htc); line-height:40px; height:42px; text-align:center; margin-top:9px;}
.back_result_btn .floatright{ border-left:2px solid #65b8e8; width:37px; float:right; padding-left:7px; height:42px; line-height:42px; vertical-align:middle;  }
.back_result_btn .floatright img{ vertical-align:middle;}
.back_result_btn a{ color:#fff; text-decoration:none;}

.free_lance_btn{ width:280px; float:left; font-size:16px; font-family: 'segoewpsemibold'; font-weight:normal; background:#ff6600; padding: 0px 0px 0px 10px; color:#fff; text-shadow: 0px 1px 1px #697477; border-radius: 0px 15px 0px 15px; behavior: url(PIE.htc); line-height:40px; height:42px; text-align:center; margin-top:9px; margin-right:12px;}
.free_lance_btn .floatright{ border-left:2px solid #fe7f2a; width:37px; float:right; padding-left:7px; height:42px; line-height:42px; vertical-align:middle;  }
.free_lance_btn .floatright img{ vertical-align:middle;}
.free_lance_btn a{ color:#fff; text-decoration:none;}


.center_busigness_user { margin-right:242px;}

.three_input_busginess{ min-height:30px; padding: 9px 0px 9px 15px;}

.nearlythere_page{}
.wel_userstred_detail{ background:#eaeaea; border:1px solid #e3e2e2; border-radius: 0px 20px 0px 20px; behavior: url(PIE.htc); padding: 26px 0px 20px 16px; margin-top:9px; }
	
.wel_input_box{ padding-bottom:25px;}
.wel_input_boxlast{ padding-bottom:10px; float:left; width:420px;}

.wel_input_box_sec { padding-bottom:17px;}
.wel_input_box label{ font-family: 'segoewpsemibold'; font-size:15.55px; display:block; text-align:left; float:left; width:292px; margin-right:7px; line-height:29px; padding-left:10px; color:#666666; text-shadow: 0px 1px 1px #fff; }
.wel_input{ background:url(../images/input-bg.png) repeat-x left top #fff; border:0px; display:block; width:205px; height:29px; line-height:29px; padding: 0px 7px; border:1px solid #d1d1d1; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); font-family: 'segoewpsemibold'; font-size:13.83px; color:#8b8b8b;}
.wel_input_budget{ background:url(../images/input-bg.png) repeat-x left top #fff; border:0px; display:block; width:83px; height:29px; line-height:29px; padding: 0px 7px; border:1px solid #d1d1d1; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); font-family: 'segoewpsemibold'; font-size:13.83px; color:#8b8b8b;}
.calender_select .wel_input_budget{ background:none; border:0px; width:103px; padding-left:30px; cursor:pointer; z-index:9999; position:relative; }

.wel_txtarea_bg{ background:url(../images/input-bg.png) repeat-x left top #fff; border:0px; display:block; width:565px; height:140px; line-height:20px; padding: 3px 7px; border:1px solid #d1d1d1; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); font-family: 'segoewpsemibold'; font-size:12.01px; color:#8f8f8f;}
.submit_btncontact{ text-align:right; padding-right:51px;}

.wel_inputcheckbox{ height:30px; width:31px; float:left; padding: 0px 0px 0px 15px; } 
.wel_input_box .regular-checkbox + label { background:url(../images/check-box-bg.png) no-repeat left top; display: inline-block; position: relative; width:31px; height:30px; }
.wel_input_box .regular-checkbox:checked + label:after { content: '\2714'; font-size: 20px; position: absolute; top: 0px; left: 3px; color: #99a1a7; padding-left:5px; }
.wel_input_box .big-checkbox + label { padding: 22px; }


.calender_select{ position:relative; width:125px; float:left; background:url(../images/drop-arrow.png) no-repeat right top #fff; height:28px; line-height:28px; border:1px solid #cccccc; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); text-align:center; padding: 0px 24px 0px 0px;  font-family: 'segoewpsemibold'; font-size:11.23px; margin-left:70px;   }
.cal_icon{ position:absolute; left:6px; top:6px;}

.bottom_partwel_user{ padding: 9px 0px 0px 0px;}

.un_known_calender { padding: 0px 0px 0px 304px;}
.un_known_calender label{ font-family: 'segoewpsemibold'; font-size:13.82px; display:block; text-align:left; float:left; width:134px; margin-right:7px; line-height:29px; padding-left:10px; color:#666666; text-shadow: 0px 1px 1px #fff; }
.submit_btn_weluser{ float:right; padding: 0px 50px 0px 0px;}

.submit_btn_weluser input{ display:block; background:url(../images/submit-btn.png) no-repeat left top; width:115px; height:31px; border:0px; font-size:0px; cursor:pointer; }
.submit_btn_weluser input:hover{ display:block; background:url(../images/submit-btn.png) no-repeat left bottom; }


.checkboxquote_status{ height:30px; text-align:center; width:31px; vertical-align:middle; }
.quotestatusboxbg .checkboxquote_status{ padding-top:4px; margin-right:17px; float:left;}

.checkboxquote_status .regular-checkbox + label { background:url(../images/check-box-bg.png) no-repeat left top; display: inline-block; position: relative; width:31px; height:30px; }
.checkboxquote_status .regular-checkbox:checked + label:after { content: '\2714'; font-size: 20px; position: absolute; top: 6px; left: 3px; color: #99a1a7; padding-left:5px; }
.checkboxquote_status .big-checkbox + label { padding: 22px; }

.error_msg{ background:#54b0e5; border-radius: 0px 20px 0px 20px; behavior: url(PIE.htc); padding: 5px 13px 7px 22px; color:#fff; font-family: 'segoewpsemibold'; font-size:12px; line-height:15.42px;   }

.cancl_btn{ float:right; padding: 3px 0px 0px 0px;}

.quote_leftpart{ width:477px; float:left; }
.quote_title{ padding: 6px 0px 0px 0px;}
.quote_title_green{ font-size:21.42px; font-weight:bold; background:#9bc55f; padding: 0px 19px 0px 19px; color:#578b0e; text-shadow: 0px 1px 1px #bfea83; border-radius: 0px 15px 0px 15px; behavior: url(PIE.htc); display:inline-block; height:43px; line-height:40px; margin-right:5px; }
.quote_green_pro_name{ font-size:21.42px; font-weight:bold; background:#9bc55f; padding: 0px 19px 0px 19px; color:#578b0e; text-shadow: 0px 1px 1px #bfea83; border-radius: 0px 15px 0px 15px; behavior: url(PIE.htc); display:inline-block; height:43px; line-height:40px; margin-right:5px; }

.right_quote_box{ margin-left:487px;}
.right_quote_box .free_first_box{ width:auto; float:none; margin-bottom:9px;}
.right_quote_box .quotes_roman{ font-size:25.07px; }

.green_quta_box .big_txt_price{ display:block; float:left; font-size:42px; font-family: 'segoewpsemibold'; padding: 11px 7px 0px 0px; }
.green_quta_box{ font-size:13px; font-weight:bold; background:#9bc55f; padding: 5px 0px 0px 10px; color:#578b0e; text-shadow: 0px 1px 1px #bfea83; border-radius: 0px 15px 0px 15px; behavior: url(PIE.htc); width:210px; float:left; height:53px; line-height:23px; margin-left:14px; margin-bottom:6px; }


.spacing_quote_price{ padding: 12px 0px 3px 3px;}

.for_box_quta_bot{ padding: 9px 0px 0px 0px;}
.for_box_quta_bot .orange_status_box{ width:155px; float:right; margin:0px;}
.cost_quita_box{ margin-top:9px;}

.quota_accepted_btn{ background:#bdbdbd; border-radius: 0px 20px 0px 20px; behavior: url(PIE.htc); text-align:center; font-size:15.43px; font-weight:bold; text-shadow: 1px 0px 1px #dddddd; height:40px; line-height:40px;  }
.quota_accepted_btn a{ color:#686868; text-decoration:none;}


.quta_ac_bot_box{ padding: 9px 0px 0px 0px;}
.what_next_box{ width:705px; float:left; background:#54b0e5; border-radius: 0px 20px 0px 20px; behavior: url(PIE.htc); }
.what_next_box h4{ font-size:13.71px; text-transform:uppercase; color:#2975a1; text-shadow: 0px 1px 1px #75bfea; background:url(../images/line-hori.png) repeat-x left bottom; padding: 9px 0px 10px 10px; }
.what_next_txt{ color:#fff; padding: 8px 14px 20px 14px; font-family: 'segoewpsemibold'; }

.payment_box{ background:#eaeaea; border:1px solid #e3e2e2; border-radius: 0px 20px 0px 20px; behavior: url(PIE.htc); font-size:12px; color:#656565; padding: 8px 0px 5px 0px; width:247px; float:right; }
.payment_box h3{ font-family: 'segoewpsemibold'; text-shadow: 0px 1px 1px #fff; font-weight:normal; background:url(../images/line.png) repeat-x  left bottom; padding: 0px 0px 11px 10px;  }

.price_box_quta_accpt{ font-family: 'segoewpsemibold'; font-size:15.43px; text-align:right; padding: 0px 13px 0px 0px; line-height:18px; }
.price_box_quta_accpt .include_vat_txt{ font-weight:normal; font-size:10.28px;}

.pay_pay_info_box{ background:#fffedd; width:360px; float:right; margin-top:22px; padding: 9px 0px 10px 10px;}
.pay_pay_info_box input{ vertical-align:middle;}
.save_as_boxpayment { }
.save_as_boxpayment input{ border:1px solid #c9c998; height:17px; line-height:17px;}

.credit_debit_radio{ padding: 0px 0px 6px 0px;}

.paypal_money_box{ padding: 0px 0px 0px 23px;}
.pay_check_box{ padding: 0px 0px 5px 23px;}
.paypal_money_box .floatleft{ margin-right:4px;}

.can_cont_btn { float:right; margin-top:11px;}

.cancl_btn_quote_btn{ font-family: 'segoewpsemibold'; width:180px; float:left; text-align:center; font-size:14px; text-shadow: 0px 1px 1px #85c6ed; margin-left:8px; }
.cancl_btn_quote_btn a{ color:#1d6188; text-decoration:none; background:#54b0e5; height:45px; line-height:45px; border-radius: 0px 20px 0px 20px; behavior: url(PIE.htc); display:block;  }
.cancl_btn_quote_btn a:hover{ color:#fff; text-decoration:none; background:#ff6600; height:45px; line-height:45px; border-radius: 0px 20px 0px 20px; behavior: url(PIE.htc); }


.cont_btn_quote_btn{ font-family: 'segoewpsemibold'; width:180px; float:left; text-align:center;font-size:14px; text-shadow: 0px 1px 1px #cf7e48; margin-left:8px; }
.cont_btn_quote_btn a{ color:#fff; text-decoration:none; background:#ff6600;height:45px; line-height:45px;  border-radius: 0px 20px 0px 20px; behavior: url(PIE.htc); display:block;  }
.cont_btn_quote_btn a:hover{ color:#fff; text-decoration:none; background:#54b0e5;height:45px; line-height:45px;  border-radius: 0px 20px 0px 20px; behavior: url(PIE.htc);  }

.choose_paymentrightpart { width:375px; float:right; font-family: 'segoewpsemibold'; }
.choose_payment_rightbg{ margin-top:9px; background:#eaeaea; border:1px solid #e3e2e2; border-radius: 0px 20px 0px 20px; behavior: url(PIE.htc); font-size:12px; color:#656565; min-height:544px; }
.choose_payment_rightbg h2{ position: 0px 0px 0px 0px; font-weight:normal; font-size:16px; background:url(../images/line.png) repeat-x left bottom; padding: 10px 10px 14px 13px; }
.total_chrpt_box{ font-size:18px; background:url(../images/line.png) repeat-x left bottom; padding: 10px 17px 15px 13px; }

.choose_pay_cen_part{ margin-right:385px;}
.white_chose_bg{ background:#fff; border:1px solid #e3e2e2; border-radius: 0px 20px 0px 20px; behavior: url(PIE.htc); color:#827972; margin-top:9px; padding-bottom:14px;  }
.white_chose_bg h3{ border-bottom:1px solid #f1f1f1; font-weight:normal; font-size:13px; font-family: 'segoewpsemibold'; padding: 10px 10px 11px 10px; }

.paypal_img_box{ padding: 16px 0px 0px 82px;}

.pay_input_box{ padding: 0px 0px 13px 0px;}
.pay_input_box label{ width:110px; display:block; text-align:right; float:left; margin-right:15px; font-size:12px; font-family: 'segoewpsemibold'; line-height:11px; }
.pay_input_box input{ padding: 0px 7px; border:1px solid #afc2d7; height:17px; line-height:17px; width:150px; font-size:11px; color:#2c2640;}
.pay_input_box select{ padding: 0px 0px; border:1px solid #afc2d7; height:17px; width:166px; font-size:11px; color:#2c2640;}

.small_optiontxt{ font-size:9px;}
.buling_info_box{ padding-left:125px; font-size:12px; font-family: 'segoewpsemibold'; line-height:11px; padding-bottom:12px; }

.spacing_pay_chose{ padding: 25px 0px 0px 40px;}

.pay_now_btn{ padding-left:123px;}
.pay_now_btn input{ background:#fcaa0f; border:1px solid #d6be9a; font-size:12px; color:#716a1b; font-weight:bold; padding: 5px 10px; }

.succusspage{ width:560px; margin:0px auto; padding: 15px 0px 35px 0px;   }

.succuss_title_box{ font-size:25px; font-weight:bold; background:#9bc55f; padding: 0px 0px 0px 18px; color:#578b0e; text-shadow: 0px 1px 1px #bbe57f; border-radius: 0px 15px 0px 15px; behavior: url(PIE.htc); text-align:center; margin-top:9px; height:49px; line-height:49px; }
.succuss_title_box span{ color:#fff; text-shadow: 0px 1px 1px #909140; }

.succuss_gry_bg{ background:#eaeaea; border:1px solid #e3e2e2; border-radius: 0px 20px 0px 20px; behavior: url(PIE.htc); font-size:12px; color:#656565; margin-top:9px; padding: 8px 0px 9px 0px; }
.succuss_gry_bg h3{ font-family: 'segoewpsemibold'; font-weight:normal; background:url(../images/line.png) repeat-x  left bottom; padding: 4px 0px 15px 12px; font-size:16px;  }

.viw_sus_box{ font-size:22.28px; font-weight:bold; background:#ff6600; padding: 0px 0px 0px 18px; color:#578b0e; text-shadow: 0px 1px 1px #cf7e48; border-radius: 0px 15px 0px 15px; behavior: url(PIE.htc); text-align:center; margin-top:9px; height:45px; line-height:45px; margin-bottom:10px; }
.new_search_box{ font-size:22.28px; font-weight:bold; background:#54b0e5; padding: 0px 0px 0px 18px; color:#578b0e; text-shadow: 0px 1px 1px #67787f; border-radius: 0px 15px 0px 15px; behavior: url(PIE.htc); text-align:center; margin-top:9px; height:45px; line-height:45px; margin-bottom:10px; }
.succuss_gry_padding { font-family: 'segoewpsemibold'; padding: 2px 14px 0px 14px; }
.succuss_gry_padding a{ color:#fff;}

.spacing_contactdetail{ padding: 15px 0px 35px 0px;}

.what_wedo_box{ line-height:14px; padding: 10px 0px 18px 0px;}
.what_wedo_box_last{ line-height:14px; padding: 10px 0px 0px 0px;}

.rightwhat_wedo_box{ width:450px; margin-right:15px; float:right; font-size:13px;}
.leftwhat_wedo_box{ width:450px; margin-left:10px; float:left; font-size:13px;}
.what_wedo_footerbox{}

.green_what_wedo_box{ font-size:13.63px; font-weight:bold; color:#88b04f; background:url(../images/line.png) repeat-x left bottom; line-height:22px; padding-bottom:8px; }
.blue_what_wedo_box{ font-size:13.63px; font-weight:bold; color:#54b0e5; background:url(../images/line.png) repeat-x left bottom; line-height:22px; padding-bottom:8px; }
.orange_what_wedo_box{ font-size:13.63px; font-weight:bold; color:#ff6600; background:url(../images/line.png) repeat-x left bottom; line-height:22px; padding-bottom:8px; }

.green_what_wedo_padding { padding: 0px 0px 10px 0px;}
.green_what_wedo_padding p{ margin:0px; padding: 6px 0px 8px 0px; }

.what_wedo_title{ font-size:21.34px; font-weight:bold; background:#9bc55f; padding: 10px 15px 16px 18px; color:#578b0e; text-shadow: 0px 1px 1px #bfea83; border-radius: 0px 15px 0px 15px; behavior: url(PIE.htc); display:inline-block; margin-right:6px;  }
.faq_title{ font-size:23px; font-weight:bold; background:#9bc55f; padding: 10px 28px 16px 28px; color:#578b0e; text-shadow: 0px 1px 1px #bfea83; border-radius: 0px 15px 0px 15px; behavior: url(PIE.htc); display:inline-block;  }


.howit_workrpt_box{ width:33.33%; float:left; text-align:center; padding-bottom:30px;}
.howit_workrpt_img{ height:84px;}
.howit_workrpt_title{ font-size:13.63px; color:#54b0e5; font-weight:bold;}

.skill_explain_box{}

.howit_work_box{ padding: 26px 0px 0px 0px;}

.on_obligation_box{ background:#ff6600; border-radius: 0px 20px 0px 20px; behavior: url(PIE.htc); font-size:11.93px; color:#fff; padding: 6px 8px 8px 8px; font-family: 'segoewpsemibold'; line-height:15.34px;  }
.on_obligation_box strong{font-family: 'segoewpblack'; }

.skill_explain_box{ background:#eaeaea; border-radius: 0px 20px 0px 20px; behavior: url(PIE.htc); font-size:11px; color:#696969; padding: 5px 0px 30px 13px; font-family: 'segoewpsemibold'; line-height:15.34px;  }
.skill_explain_box strong{font-family: 'segoewpblack'; display:block; padding: 10px 0px 7px 0px; text-transform:uppercase; text-shadow: 0px 1px 1px #fff; }
.skill_explain_box a{ color:#8f8f8f; }
.skill_explain_box a:hover{ color:#ff6600; }

.skill_explain_onecollam{ width:165px; float:left;}
.skill_explain_twocollam{ width:140px; float:left;}

.small_footer{ background:#eaeaea; border-radius: 0px 20px 0px 20px; behavior: url(PIE.htc); font-size:9.39px; color:#696969; padding: 16px 0px 30px 27px; }
.small_footer .footer_reapt_box{ width:16.66%;}

.faq_rightpart{ width:450px; float:right;}
.faq_leftpart{ width:450px; float:left;}
.faq_title_question { font-size:13.76px; font-weight:bold; color:#; background:url(../images/line.png) repeat-x left bottom; color:#54b0e5; padding: 10px 0px 10px 0px; }
.faq_title_question .floatright{ padding: 4px 0px 0px 0px;}

.faq_rept_box{ padding: 0px 0px 0px 0px;}

.faq_ans_div{ line-height:14px; padding: 10px 0px 2px 0px;}

.dont_find_faq{ font-size:14px; padding-top:9px;}
.dont_find_faq a{ color:#ff6600; }

.faq_page{ padding: 5px 0px 0px 0px; min-height:500px;}

.select_what_kind{ background:#eaeaea; border-radius: 0px 20px 0px 20px; behavior: url(PIE.htc); font-size:36px; color:#99c25f; padding: 19px 0px 27px 27px; font-family: 'segoewpsemibold'; text-align:center; margin-top:9px; text-shadow: 0px 1px 1px #f6f6f6; }

.left_cret_ac{ background:#eaeaea; border-radius: 0px 20px 0px 20px; behavior: url(PIE.htc); font-size:29px; color:#54b0e5; padding: 41px 0px 67px 0px; font-family: 'segoewpsemibold'; text-align:center; margin-top:9px; text-shadow: 0px 1px 1px #f6f6f6; width:475px; float:left; }
.cre_box_txt{ padding: 31px 0px 0px 0px;}

.right_cret_ac{ background:#eaeaea; border-radius: 0px 20px 0px 20px; behavior: url(PIE.htc); font-size:29px; color:#ff6600; padding: 41px 0px 67px 0px; font-family: 'segoewpsemibold'; text-align:center; margin-top:9px; text-shadow: 0px 1px 1px #f6f6f6; width:475px; float:right; }

.crea_your_ac{ padding: 0px 0px 16px 0px;}

.creat_ac_second_page{}
.creat_ac_second_page .all_skill_box{ width:208px; float: left; padding-top:6px; margin-right:40px;  }
.creat_ac_second_page .all_skill_box h3{ font-family: 'segoewpsemibold'; font-size:18px; color:#676767; padding-bottom:19px; font-weight:normal; }
.creat_ac_second_page .all_skill_div{ background:url(../images/input-bg.png) repeat-x left top; border:1px solid #cacaca; background:#fff; overflow:auto; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); font-family: 'segoewpsemibold'; font-size:13px; padding: 8px 8px 5px 8px; height:88px; color:#727272; }
.creat_ac_second_page .all_skill_div .plus_icon{ float:right; vertical-align:middle;}

.creat_ac_second_page .skill_txt{ padding-bottom:3px;}

.creat_ac_second_page .your_skill_box{ width:208px; float: left; padding-top:6px;  }
.creat_ac_second_page .your_skill_box h3{ font-family: 'segoewpsemibold'; font-size:18px; color:#676767; padding-bottom:19px; font-weight:normal; }

.art_sub_dropbox{ background:url(../images/input-bg.png) repeat-x left top #fff; border:1px solid #c5c5c5; height:28px; line-height:28px; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); font-size:13px; color:#676767; padding: 0px 0px 0px 10px; width:198px; margin-bottom:10px;  }

.quote_status_port{ margin-left:287px;}
.port_statusrpt_box{ width:468px; float:left;}
.port_statusrpt_box_second{ margin-left:20px;}

.what_next_box_pay{ background:#54b0e5; border-radius: 0px 20px 0px 20px; behavior: url(PIE.htc); margin-bottom:12px; }
.what_next_box_pay h4{ font-size:13.71px; text-transform:uppercase; color:#2975a1; text-shadow: 0px 1px 1px #75bfea; background:url(../images/line-hori.png) repeat-x left bottom; padding: 9px 0px 10px 10px; }
.what_next_txt_pay{ color:#fff; padding: 12px 4px 20px 14px; font-family: 'segoewpsemibold'; font-size:13px; line-height:15.15px; }

.leftpart_quote_project{ width:475px; float:left; }
.righpart_quote_project{ width:475px; float:right; }

.quote_white_box{ background:#fff; margin: 9px 12px 4px 12px; padding: 8px; color:#939393; line-height:14px; height:108px; overflow:auto; }
.quote_white_box_sec{ background:#fff; margin: 9px 12px 4px 12px; padding: 8px; color:#939393; line-height:18px; font-size:13.74px; }
.quote_white_box_sec a{ color:#ff6600; }

.quoteprojectpage{}

.mid_quoteproject { padding: 7px 0px 0px 0px;}

.calender_quota{ float:right;}
.calender_quota input{ vertical-align:top; width:137px; float:left; margin-right:6px; border:1px solid #d9d9d9; font-family: 'segoewpsemibold'; font-size:12.88px; height:30px; line-height:30px; color:#6e6e6e; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); padding: 0px 14px 0px 14px;  }
.searchitem_input input{ vertical-align:top; width:105px; margin-right:6px; border:1px solid #d9d9d9; font-family: 'segoewpsemibold'; font-size:12.88px; height:30px; line-height:30px; color:#6e6e6e; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); padding: 0px 14px 0px 14px;  }
.calender_quota .calender_btn{ vertical-align:top;}

.ded_linebox{ padding: 9px 7px 0px 8px; height:128px;}

.ded_line_rptbox{ padding: 0px 0px 6px 0px;}

.shedule_input{ float:right; margin-bottom:7px; }
.shedule_input input{ vertical-align:top; width:312px; border:1px solid #d9d9d9; font-family: 'segoewpsemibold'; font-size:12.88px; height:30px; line-height:30px; color:#6e6e6e; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); padding: 0px 14px 0px 14px;  }

.pound_withinput{ border:1px solid #d9d9d9; width:96px; background:#fff; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); height:30px; line-height:30px; margin-bottom:7px;   }
.pound_withinput input{ width:70px; padding: 0px 5px; border:0px; color:#6e6e6e; }
.pound_sign{ font-family: 'segoewpsemibold'; font-size:15px; font-weight:bold; }

.calender_big_quota{ float:right;}
.calender_big_quota input{ vertical-align:top; width:215px; float:left; margin-right:6px; border:1px solid #d9d9d9; font-family: 'segoewpsemibold'; font-size:12.88px; height:30px; line-height:30px; color:#6e6e6e; border-radius: 0px 10px 0px 10px; behavior: url(PIE.htc); padding: 0px 14px 0px 14px;  }
.calender_big_quota .calender_btn{ vertical-align:top;}

.pay_schedule_rpt_box{ background:url(../images/line.png) repeat-x left bottom; padding: 7px 8px 6px 8px;}

.add_btn_quotepage{ font-size:13.74px; padding: 6px 0px 0px 14px;}
.add_btn_quotepage a{ color:#ff6600; }


.submit_quota_btn{ float:right; color:#5fb5e6; font-family: 'segoewpsemibold'; padding: 11px 0px 0px 0px; }
.submit_quota_btn a{ display:block; background:url(../images/submit-btn.png) no-repeat left top; width:115px; height:31px; }
.submit_quota_btn a:hover{ display:block; background:url(../images/submit-btn.png) no-repeat left bottom; }

.norecord_found{ background:#ff6600; border:1px solid #e3e2e2; border-radius: 0px 20px 0px 20px; behavior: url(PIE.htc); margin-top:9px; padding: 25px 0px 30px 0px; text-align:center; font-size:22px; color:#fff; margin: 50px 15px 10px 15px;  }

.cart_empty_msg{ text-align:center; font-size:18px; padding: 15px 0px 15px 0px; color:#ff6600;}
.cart_empty_msg_login{ text-align:center; font-size:28px; padding: 150px 0px 15px 0px; color:#ff6600;}

.login_alert{background-color: #f2dede; border: 1px solid #eed3d7; font-weight:bold; color: #b94a48;border-radius: 5px; font-size:13px; padding: 8px 20px 8px 20px; text-align:left; width:370px; margin-bottom:5px; text-shadow: 0px 1px 1px #fff;}
.creat_alert{background-color: #f2dede; border: 1px solid #eed3d7; font-weight:bold; color: #b94a48;border-radius: 5px; font-size:13px; padding: 8px 20px 8px 20px; text-align:left; margin-top:10px; text-shadow: 0px 1px 1px #fff;}
.creat_alert_project{background-color: #D9EDF7; border: 1px solid #bce8f1; font-weight:bold; color: #3A87AD;border-radius: 4px 4px 4px 4px; font-size:14px; padding: 5px 0px 5px 185px; margin-top:-15px; text-shadow: 0px 1px 1px #fff;width:425px;margin-left:125px; margin-bottom:10px;}
    
.profile_detail{ height:145px; overflow:auto; }
.show_hide{background-color: #000;}

.loginpage_alert{background-color: #f2dede; border: 1px solid #eed3d7; font-weight:bold; color: #b94a48;border-radius: 5px; font-size:13px; font-weight:bold; padding: 5px 0px 5px 0px; text-align:left; width:277px; margin-bottom:5px; text-shadow: 0px 1px 1px #fff; padding: 8px 20px;}
.loginpage_alert_home { background:#f2dede; border:1px solid #eed3d7; border-radius:5px; color:#b94a48; padding: 10px 20px; font-weight:bold; font-size:13px; text-shadow: 0px 1px 1px #fff; text-align:left; position:absolute; margin: 0px 2%; width:87%; left:0px; bottom:67px; }

