.topbar
{
	background: #333333;
}

.bottombar
{
	background: #dfdfdf;
}

a.topbar
{
	color: #ffffff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	letter-spacing: -0.2pt;
}

a.topbar:hover
{
	color: #cccccc;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	letter-spacing: -0.2pt;
}

.textbox
{
	border: 1px solid #333333;
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	letter-spacing: -0.2pt;	
}


.menutable
{
	border-right: 1px solid #dfdfdf;
	background: #fcfcfc;
	font-weight:none;
}
.table
{
	border-right: 1px solid #dfdfdf;
	border-left: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
	background: #fcfcfc;
	font-weight:none;
}
.menuheader
{
	color: #cc0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	letter-spacing: -0.2pt;
}

a.menuitem
{
	color: #cc0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	letter-spacing: -0.2pt;	
	font-weight:normal;
}

a.menuitem:hover
{
	color: #ff5e5e;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	letter-spacing: -0.2pt;	
}

.text
{
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	letter-spacing: -0.2pt;
}
.code
{
	color: #333333;
	font-family: courier new;
	font-size: 12px;
	letter-spacing: -0.2pt;
}
.textbold
{
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}
.header
{
	color: #cc0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	letter-spacing: -0.2pt
}

.pagesummary
{
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	letter-spacing: -0.2pt
}

a:hover
{
	color: #8a8a8a;
}

a
{
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight:bold;
	letter-spacing: -0.2pt;
	text-decoration:none;
}

.headerwhite
{
	color: #ffffff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	letter-spacing: -0.2pt;
}



.maroontext
{
	color: #cc0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	letter-spacing: -0.2pt
}

