<div id="pageData">
      {if $reviewAll|@count gt 0}
      {section name=i loop=$reviewAll}
         <div class="reviewpart">
             <div class="datepart" style="color: #9E053B">{$reviewAll[i]['dAddedDate']|date_format:"%D"}</div>
             <div class="revtxt">{$reviewAll[i]['tDescription']}</div>
             <div class="addname" style="float:right;color: #002A5C;float: right !important">{$reviewAll[i]['vCustomerName']}<br />
               {$reviewAll[i]['vCity']},{section name=j loop=$db_country}{if $db_country[j]['iCountryId'] eq $reviewAll[i]['iCountryId']}{$db_country[j]['vCountry']}{/if}{/section}
             </div>
        </div>
        <h3 class="customerhd"></h3>
      {/section}
      {else}
          <span>No Item Found</span>
      {/if}
</div>


