<div class="container_16 main2 padding50">
	<div id="ajax-loader" style="padding-top: 150px; text-align: center;height: 270px;"><img src="{$site_url}public/front-end/images/ajax-loader-designpage.gif"></div>
		<div id="main-container" class="container" style="display: none;">
				
				<div id="fpd">		
					<div class="fpd-product" name="front" title="thumb-main--1" data-thumbnail="http://192.168.1.12/Izishirt/uploads/product/1/1/front-5.png">
						<img src="http://192.168.1.12/Izishirt/uploads/product/1/1/341X418_front-5.png" title="Base Front" data-parameters='{literal}{"x": 123, "y": 81, "price": 20}{/literal}' />
						<div class="fpd-product" name="back" title="Back" data-thumbnail="http://192.168.1.12/Izishirt/uploads/product/1/1/back-5.png">
							<img src="http://192.168.1.12/Izishirt/uploads/product/1/1/341X418_back-5.png" title="Base Back" data-parameters='{literal}{"x": 123, "y": 81, "price": 40}{/literal}' />
						</div>
						<div class="fpd-product" name="back" title="Back" data-thumbnail="http://192.168.1.12/Izishirt/uploads/product/1/3/341X418_front-2.png">
							<img src="http://192.168.1.12/Izishirt/uploads/product/1/3/341X418_front-2.png" title="Base Back" data-parameters='{literal}{"x": 123, "y": 81, "price": 40}{/literal}' />
						</div>
						<div class="fpd-product" name="back" title="Back" data-thumbnail="http://192.168.1.12/Izishirt/uploads/product/1/3/341X418_back-2.png">
							<img src="http://192.168.1.12/Izishirt/uploads/product/1/3/341X418_back-2.png" title="Base Back" data-parameters='{literal}{"x": 123, "y": 81, "price": 40}{/literal}' />
						</div>
					</div>
						<div class="fpd-product" name="front" title="thumb-main-1-1" data-thumbnail="http://192.168.1.12/Izishirt/uploads/product/1/2/front-1.png">
							<img src="http://192.168.1.12/Izishirt/uploads/product/1/2/341X418_front-1.png" title="Base Front" data-parameters='{literal}{"x": 123, "y": 81, "price": 20}{/literal}' />
							<div class="fpd-product" name="back" title="Back" data-thumbnail="http://192.168.1.12/Izishirt/uploads/product/1/2/back-1.png">
								<img src="http://192.168.1.12/Izishirt/uploads/product/1/2/341X418_back-1.png" title="Base Back" data-parameters='{literal}{"x": 123, "y": 81, "price": 40}{/literal}' />
							</div>
						</div>
					
					
					<div class="fpd-design">
						<img src="http://192.168.1.12/Izishirt/uploads/design_images/125/195x131_black.jpg" title="20" data-parameters='{literal}{"x": 215, "y": 200, "removable": true, "draggable": true, "rotatable": true, "resizable": true, "price": 10}{/literal}' />
						<img src="http://192.168.1.12/Izishirt/uploads/design_images/124/195x131_men_women.png" title="17" data-parameters='{literal}{"x": 215, "y": 200, "removable": true, "draggable": true, "rotatable": true, "resizable": true, "price": 10}{/literal}' />
						<img src="http://192.168.1.12/Izishirt/uploads/design_images/123/195x131_crown.png" title="35" data-parameters='{literal}{"x": 215, "y": 200, "removable": true, "draggable": true, "rotatable": true, "resizable": true, "price": 10}{/literal}' />
						<img src="http://192.168.1.12/Izishirt/uploads/design_images/122/195x131_heart_circle.png" title="56" data-parameters='{literal}{"x": 215, "y": 200, "removable": true, "draggable": true, "rotatable": true, "resizable": true, "price": 10}{/literal}' />
						<img src="http://192.168.1.12/Izishirt/uploads/design_images/121/195x131_heart_blur.png" title="56" data-parameters='{literal}{"x": 215, "y": 200, "removable": true, "draggable": true, "rotatable": true, "resizable": true, "price": 10}{/literal}' />
					</div>
				</div>
				
				  </div>
			</div>
<div id="container"></div>