{include file="header.tpl"}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="http://maps.google.com/maps?file=api&v=2&key=AIzaSyAnfs8lBb-q0m_jiZMUy08xaQw3REBHSlo&sensor=false" type="text/javascript"></script>
<script type="text/javascript" src="{$front_js_path}jquery.gmap-1.1.0-min.js"></script
<div class="main-container col2-right-layout">
    <div class="main-container col1-layout" style="background:#FFF; margin:35px 0 0 0;">
	<div class="main container">
        <div class="slideshow_static"></div>
	    <div class="main-inner">
		<div class="col-main">
		    <div class="contact_page">
		      <div class="contact_left_box" style="margin-top:-31px">
			{$pagecontent[0]->tContent}
		      </div> 
		      <div class="contact_right_box">
		      <div class="googlemap"><div class="googleinner"><iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Emblemax++14504+Lee+Road+Suite+F&amp;sll=21.125498,81.914063&amp;sspn=23.711536,40.429688&amp;ie=UTF8&amp;hq=Emblemax++14504+Lee+Road+Suite+F&amp;hnear=&amp;radius=15000&amp;ll=38.898972,-77.447862&amp;spn=0.071946,0.071946&amp;t=m&amp;output=embed"></iframe><br /><small><a href="https://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Emblemax++14504+Lee+Road+Suite+F&amp;sll=21.125498,81.914063&amp;sspn=23.711536,40.429688&amp;ie=UTF8&amp;hq=Emblemax++14504+Lee+Road+Suite+F&amp;hnear=&amp;radius=15000&amp;ll=38.898972,-77.447862&amp;spn=0.071946,0.071946&amp;t=m" style="color:#0000FF;text-align:left"></a></small></div></div>
		      </div>
		    <div class="conta_text">The design of this website including but not limited to; elements, custom t shirts delivered fast, images and product photographs are our own and may not be used without written permission.
'emblemax', 'ideas that promote', 'effective branding solutions delivered fast', and 'custom t shirts delivered fast' are trademarks of Emblemax LLC, Northern Virginia.</p>
		     </div>
		    </div>
	    </div>
	</div>
    </div>
    </div>
{include file="footer.tpl"}