{include file="header.tpl"}		
			<div class="main-container col2-right-layout">
			
			
                
			 
			 <div class="main-container col1-layout" style="background:#FFF; margin:35px 0 0 0;">
			 <div class="breadcrumbs row-fluid">
                    	<div class="container">
		<ul style="text-align:left;" class="span12">
							<li class="home">
									<a title="Go to Home Page" href="{$site_url}">Home</a>
								
									<samp></samp>
				 
				</li> 
							<li class="category5">
									<strong>Terms And Conditions</strong>
								
				 
				</li> 
					</ul> 
		<!--		<div class ="mt-page-title hidden-phone span4"> 
						<h2>Categories</h2> 
		</div> 
		-->
	</div>	
</div>
						            <div class="main container">
			<div class="slideshow_static">
                                            </div>
                <div class="main-inner">
                    
                    <div class="col-main">
                                                <div class="account-create">
    			<h2 class="pagetital subtit">Customer Services</h2>
			<div style="clear:both;"></div>
{$content}        
  {include file="right_category.tpl"}
<script type="text/javascript">
    //<![CDATA[
    var dataForm = new VarienForm('form-validate', true);
        //]]>
    </script>
</div>
                    </div>
					
                </div>				
				
									
								
            </div>
        </div>
			 
			 
        </div>
{include file="footer.tpl"}
