{include file="header.tpl"}		
<div class="main-container col2-right-layout">
<div class="main-container col1-layout" style="background:#FFF;">
<div class="breadcrumbs row-fluid">
<div class="container">
<ul style="text-align:left;" class="span12">
   <li class="home"><a title="Go to Home Page" href="{$site_url}">Home</a><samp></samp></li> 
   <li class="category5"><strong>FAQs</strong></li> 
</ul> 
		<!--		<div class ="mt-page-title hidden-phone span4"> 
						<h2>Categories</h2> 
		</div> 
		-->
	</div>	
</div>
<div class="main container">
  <div class="slideshow_static">
  </div>
  <div class="main-inner">
   <div class="col-main">
   <div class="account-create">
   <h2 class="pagetital subtit">FAQ</h2>
   <div style="clear:both;"></div>
   <div class="ordleftpart" id="ordleftpart">
   <div class="privavypolicymain"><!--<p style="color: #9e053b; font-weight: bold; font-size: 13px">Custom T Shirts Delivered Fast in Chantilly Virginia</p>-->
<!--<p>
With Emblemax's My Shirt Builder you can design your own t shirt for your band! You can design your own t shirt for your school. You can design your own t shirt for your job. You can design your own t shirt for your baseball team. You can design your own t shirt for your football team. You can design your own t shirt for your cat. You can design your own t shirt for your dog. You can design your own t shirt for your drinking club. You can design your own t shirt for your fraternity. You can design your own t shirt for your sorority. You can design your own t shirt for anything!
At Emblemax, we make all of your t shirts with the most care possible
</p>-->
{if $faqData|@count gt 0}
      {section name=i loop=$faqData}
	   <h4 class="polcy_hd"> {$faqData[i]->vQuestion} </h4>
       <p> {$faqData[i]->tAnswer}  </p>
	  {/section}
{/if}
     </div>	  
</div>

 {include file="right_FAQ_category.tpl"}
<script type="text/javascript">
    //<![CDATA[
    var dataForm = new VarienForm('form-validate', true);
        //]]>
    </script>
</div>
                    </div>
					
                </div>				
				
									
								
            </div>
        </div>
			 
			 
        </div>
{include file="footer.tpl"}
