<!--<div class="ordleftpart">
    <div class="privavypolicymain"><p style="color: #9e053b; font-weight: bold; font-size: 13px">Custom T Shirts Delivered Fast in Chantilly Virginia</p>-->
<!--<p>
With Emblemax's My Shirt Builder you can design your own t shirt for your band! You can design your own t shirt for your school. You can design your own t shirt for your job. You can design your own t shirt for your baseball team. You can design your own t shirt for your football team. You can design your own t shirt for your cat. You can design your own t shirt for your dog. You can design your own t shirt for your drinking club. You can design your own t shirt for your fraternity. You can design your own t shirt for your sorority. You can design your own t shirt for anything!
At Emblemax, we make all of your t shirts with the most care possible
</p>-->

      {if $faqData|@count gt 0}
      {section name=i loop=$faqData}
      <h4 class="polcy_hd"> {$faqData[i]->vQuestion} </h4>
      <p> {$faqData[i]->tAnswer}  </p>
      {/section}
      {/if}
    <!-- </div>	  
      </div>->
