{include file="header.tpl"}
<form action="{$site_url}myAccount/newsletter" method="post" id="form-validate" onsubmit="return CheckRegister();">
    <input type="hidden" name="iUserId" id="iUserId" value="{$iUserId}" />
			<div class="main-container col2-right-layout">
			 
			 <div class="main-container col1-layout" style="background:#FFF; margin:35px 0 0 0;">
						            <div class="main container">
			<div class="slideshow_static">
                                            </div>
                <div class="main-inner">
		    
		    <div id="error_msg" style="color:red;background-color: #F2DEDE;border: 1px solid #EED3D7;border-radius: 5px 5px 5px 5px; color: #B94A48;font-size: 13px;font-weight: bold; margin-top: 20px;padding-top: 8px;padding-left: 10px;text-shadow: 0 1px 1px #FFFFFF; width: 940px; height: 30px;">{$msg}</div>
		    
                    <div class="col-main">
                                                <div class="account-create">
    			<h2 class="pagetital subtit">Newsletter Subscription</h2>
			<div style="clear:both;"></div>
            <div class="ordleftpart">
    <div class="fieldset">
        <h2 class="legend">Newsletter Subscription</h2>
        <ul class="form-list">
            <li class="control"><input type="checkbox" name="newsletter" id="checkbox" value="yes" title="General Subscription" class="checkbox" /><label for="subscription">General Subscription</label></li>
                                </ul>
    </div>
    <div class="buttons-set">
        <p class="back-link"><a href="#"><small>&laquo; </small>Back</a></p>
        <button type="submit" title="Save" class="button"><span><span>Save</span></span></button>
    </div>
</form>
		  </div>
{include file="right_myAccount.tpl"}
<script type="text/javascript">
    //<![CDATA[
    var dataForm = new VarienForm('form-validate', true);
        //]]>
    </script>
</div>
                    </div>
					
                </div>				
				
									
								
            </div>
        </div>
			 
			 
        </div>
{include file="footer.tpl"}

{literal}
<script type="text/javascript">
function CheckRegister()
{
 
  if(document.getElementById('checkbox').checked == false){ 
	  $('#error_msg').html('You Must Have To Checked This Checkbox'); $('#error_msg').show(); return false;
    }
    return true;
}


</script>
{/literal}