<div class="ordrightpart">
 	<div class="block mt-smartmenu" style="border:1px solid #EAEAEA; padding:10px;">
	<div class="block-title">
		 <strong><span>Category</span></strong>
	</div>
	<div class="title-divider">
		 <span>&nbsp;</span>
	</div>
	<div class="block-content">
       <!-- <script src="js/mt.accordion.js" type="text/javascript"></script> -->
				<script type="text/javascript">
					$mtkb(document).ready(function(){	
						// applying the settings
						$mtkb("#mt-accordion li.active span.head").addClass("selected");
						$mtkb('#mt-accordion').Accordion({
							active: 'span.selected',
							header: 'span.head',
							alwaysOpen: false,
							animated: true,
							showSpeed: 400,
							hideSpeed: 800,
							event: 'click'
						});
					});	
		 </script>
		 <!--<ul class="clearfix" id="mt-accordion">
		 <li class="level0 nav-categories" onmouseout="Element.removeClassName(this, 'over') " onmouseover="Element.addClassName(this, 'over') ">
		 <a href="#"><span  class="head" href="#">All Categories</span></a><span class="head"><a style="float:right;" href="#"></a></span>
		 <ul class="level0">-->
		 <li class="level0 nav-categories-footwear-man" style="list-style: none;">
		 <a href="javascript:void(0);" onclick="getQueAns(id);" class="acitvemenu"><span id="current" 	class="acitvemenu">All Category</span></a>
		 </li>
		 {if $faqCategory|@count gt 0}
		 {section name=i loop=$faqCategory}
		 <li class="level0 nav-categories-footwear-man" style="list-style: none;">
		 <a href="javascript:void(0);" onclick="getQueAns('{$faqCategory[i]->iFaqcategoryid}');"><span id="current{$faqCategory[i]->iFaqcategoryid}" class="acitvemenu">{$faqCategory[i]->vCategoryName|ucfirst}</span></a>
		 </li>
		 {/section}
		 {/if}
<!--</ul>
</li>-->
		 </div> <!-- end class=block-content -->
	</div>
{literal}
<script type="text/javascript">
function getQueAns(id){
		 $('#ordleftpart').html("Wait for a while.. data is loading...");
      if(id == ""){
		 var url = site_url + 'staticpages/getallQueAns';
		 $.post(url,function(data){
				  
				  if(data != '')
				  {
				  		  $('#ordleftpart').html(data);
				  		  $('.acitvemenu').removeClass('active');
				  		  $('#current'+id).addClass('active');
				  }
		 });
	  }
	  else{
		 var extra ='';
		 extra+='?iFaqcategoryid='+id;
		 var url = site_url + 'staticpages/getQueAns';
		 var pars = extra;
		 $.post(url+pars,
		 function(data){
		 if(data != '')
		 {
				  $('#ordleftpart').html(data);
				  $('.acitvemenu').removeClass('active');
				  $('#current'+id).addClass('active');
         }
         	   
       });	 
	  }
     
}
</script>

{/literal}