{*if $filename == 'myAccount' || $filename == 'changepass' || $filename == 'newsletter' || $filename == 'myDashboard' || $filename == 'showOrderDetail' || $orderdetail *}
 <div class="ordrightpart">
        <div class="block block-layered-nav" id="acnbord">
	    <div class="block-title">
	        <strong><span>My Account</span></strong>
	    </div>
		<div class="title-divider">
			<span>&nbsp;</span>
		</div>
	    <div class="block-content">
	        <!--<p class="block-subtitle" style="display: none;">Shopping Options</p>-->
	            <dl id="narrow-by-list">
		          <dt><a href="{$site_url}myAccount/myDashboard" {if $isActiveMenu eq 'myDashboard'}class="active"{/if}>Account Dashboard</a></dt>
			   <dt><a href="{$site_url}myAccount/address" {if $isActiveMenu eq 'address'}class="active"{/if}>Address Book</a></dt>
			  <dt><a href="{$site_url}myAccount/myOrders" {if $isActiveMenu eq 'myOrders' or $isActiveMenu eq 'showOrderDetail'}class="active"{/if}>My Orders</a></dt>
			  <!--<dt><a href="{$site_url}myAccount/newsletter">Newsletter Subscriptions</a></dt>-->
			  <dt><a href="{$site_url}myAccount/myAccount" {if $isActiveMenu eq 'editprofile'}class="active"{/if}>Edit Profile</a></dt>
			  <dt><a href="{$site_url}myAccount/changepass" {if $isActiveMenu eq 'changepass'}class="active"{/if}>Change Password</a></dt>
	                  <dt><a href="{$site_url}authentication/logout" >Logout</a></dt>
                    </dl>
	     </div>
	</div>
    </div>
 {*/if*}