{include file="admin/header.tpl"  title="{$Name}"}
{include file="admin/left.tpl"}
<div class="centerpart">
	<div id="breadcrumb">
		<ul>
			<li><img alt="Location" src="{$admin_image_path}icon_breadcrumb.png"></li>
			<li><a href="{$admin_url}dashboard">Dashboard</a></li>
			<li>/</li>
			<li class="current">Login History</li>
		</ul>
	</div>
	<div class="centerpartbg">
		<div class="pagetitle">Login History</div>
		{if $var_msg neq ''}
		<div class="status success" id="errormsgdiv">
			<p class="closestatus"><a href="javascript:void(0);" title="Close" onclick="hidemessage();">x</a></p>
			<p><img src="{$admin_image_path}icons/icon_success.png" title="Success" /> {$var_msg}</p>
		</div>
		<div></div>
		{elseif $var_msg neq ''}
		<div class="status success" id="errormsgdiv">
			<p class="closestatus"><a href="javascript:void(0);" title="Close" onclick="hidemessage();">x</a></p>
			<p><img src="{$admin_image_path}icons/icon_success.png" title="Success" /> {$var_msg}</p>
		</div>
		<div></div>
		{/if}
		<div class="admin_top_part">
			<div class="search_top_admini">
				<form name="frmsearch" id="frmsearch" method="post" action="{$admin_url}loginhistory/loginhistorylist">
					<input type="hidden" name="ssql" id="ssql" value="{$ssql}" />
					<label>Search:</label>
					<div id="newstatus" class="statusleft">
						<input type="Text" id="keyword" name="keyword" value="{if $keyword != ''}{$keyword}{/if}"  class="search_input" />
					</div>
					<select name="option" id="option" onchange="estatusdd(this.value);">
						<option value="concat(vFirstName,' ',vLastName)"{if $option eq 'vFirstName'}selected{/if}>Name</option>
						<option value="vEmail"{if $option eq 'vEmail'}selected{/if}>E-mail</option>
						<option value="dLoginDate"{if $option eq 'dLoginDate'}selected{/if}>Login date</option>
						<option value="vFromIP"{if $option eq 'vFromIP'}selected{/if}>IP</option>
					</select>
					<input type="button" value="Search" class="search_btn" id="Search" name="Search" title="Search" onclick="Searchoption();"/>
				</form>
			</div>
			<div class="clear"></div>
			<div class="action_apply_btn">
				<select class="act_sl_box" name="newaction" id="newaction">
					<option value="">Select Action</option>
					<option value="Deletes"{if $action == 'Deletes'}selected="selected"{/if}>Make Delete</option>
					<option value="Show All"{if $action == 'Show All'}selected="selected"{/if}>Show All</option>
				</select>
				<input type="button" value="Apply" class="apply_btn"  onclick="return Doaction(document.getElementById('newaction').value,'loginhistory/loginhistorylist',document.frmlist);"/>
			</div>
			<div class="pagination"> {$AlphaBox} </div>
			<div class="clear"></div>
		</div>
		<div class="administator_table">
			<form name="frmlist" id="frmlist"  action="{$admin_url}loginhistory/search_action" method="post">
				<input type="hidden" name="ssql" id="ssql" value="{$ssql}" />
				<input type="hidden" name="action" id="action" value="" />
				<input  type="hidden" name="commonId" value=""/>
				<table cellpadding="0" cellspacing="1" width="100%">
					<thead>
						<tr>
							<th width="40px"><input type="checkbox" id="check_all" name="check_all" onclick="checkAll(document.frmlist);"></th>
							<th><a href={$admin_url}loginhistory/loginhistorylist?field=vFirstName&order={$order} ><span style="color:white;">Name</span>{if $field eq 'vFirstName'}{if $order eq 'ASC'}<img src="{$admin_image_path}up-arrow.png"/>{else}<img src="{$admin_image_path}down-arrow.png"/>{/if}{/if}</a> </th>
							<th><a href={$admin_url}loginhistory/loginhistorylist?field=vEmail&order={$order} ><span style="color:white;">Email</span>{if $field eq 'vEmail'}{if $order eq 'ASC'}<img src="{$admin_image_path}up-arrow.png"/>{else}<img src="{$admin_image_path}down-arrow.png"/>{/if}{/if}</a> </th>
							<th><a href={$admin_url}loginhistory/loginhistorylist?field=dLoginDate&order={$order} ><span style="color:white;">Login Date</span>{if $field eq 'dLoginDate'}{if $order eq 'ASC'}<img src="{$admin_image_path}up-arrow.png"/>{else}<img src="{$admin_image_path}down-arrow.png"/>{/if}{/if}</a> </th>
							<th><a href={$admin_url}loginhistory/loginhistorylist?field=dLogoutDate&order={$order} ><span style="color:white;">Logout Date</span>{if $field eq 'dLogoutDate'}{if $order eq 'ASC'}<img src="{$admin_image_path}up-arrow.png"/>{else}<img src="{$admin_image_path}down-arrow.png"/>{/if}{/if}</a> </th>
							<th><a href={$admin_url}loginhistory/loginhistorylist?field=vFromIP&order={$order}><span style="color:white;">From IP</span>{if $field eq 'vFromIP'}{if $order eq 'ASC'}<img src="{$admin_image_path}up-arrow.png"/>{else}<img src="{$admin_image_path}down-arrow.png"/>{/if}{/if}</a> </th>
							<th width="90px">Action</th>
						</tr>
					</thead>
					{if $data|@count gt 0}
					{section name=i loop=$data}
					{if $smarty.section.i.index % 2 eq 0}
					{assign var='class' value='admin_antry_table_sec'}
					{else}
					{assign var='class' value='admin_antry_table'}
					{/if}
					<tbody class="{$class}">
						<tr>
							<td><input name="iLoginHistoryId[]" type="checkbox" id="iId" value="{$data[i]->iLoginHistoryId}"></td>
							<td>{$data[i]->vFirstName} {$data[i]->vLastName}</td>
							<td>{$data[i]->vEmail}</td>
							<td>{$data[i]->dLoginDate}</td>
							<td>{$data[i]->dLogoutDate}</td>
							<td>{$data[i]->vFromIP}</td>
							<td><a href="#"><img src="{$admin_image_path}icon_delete.png" alt="Delete" title="Delete"  onclick="deletecommon('{$data[i]->iLoginHistoryId}','loginhistory/delete','{$ssql}')"></a> </td>
						</tr>
					</tbody>
					{/section}
					{else}
					<tr>
						<td height="70px;" colspan="8" style="text-align:center; color:#C44C22; font-size:14px; font-weight:bold;">No record found.</td>
					</tr>
					{/if}
				</table>
			</form>
		</div>
		<div class="bottomBox_admini">
			<table cellpadding="0" cellspacing="0" width="100%">
				<tr>
					<td class="reclord_found">{$recmsg}</td>
					<td><div class="bottom_admin_paging"> {$page_link} </div></td>
				</tr>
			</table>
			<div> </div>
		</div>
	</div>
	<div class="clear"></div>
</div>
{include file="admin/footer.tpl"}
{literal}
<script type="text/javascript">
	
    function estatusdd(val1){
	if(val1 == 'dLoginDate')
	{
		$('#newstatus').html('<input name="keyword" type="text" class="search_input" id="dDate" value="" >');
		$('#dDate').Zebra_DatePicker();	
	}
	else{
		$('#newstatus').html('<input type="Text" id="keyword" name="keyword" value=""  class="search_input" />');
	}
}

</script>
{/literal}