div#Module_ApparelQuote_container {
	margin: 0px;
	padding: 1px 10px;
}

div#Module_ApparelQuote_container div.step1,
div#Module_ApparelQuote_container div.step2,
div#Module_ApparelQuote_container div.step3,
div#Module_ApparelQuote_container div.step4 {
	position:relative;
	top:0px;
	left:0px;
	margin:30px 0px 10px 0px;
	padding:10px 10px 0px 10px;
	min-height: 40px;
	_height: 40px;
	background-color: #eee;
	z-index: 1;
}

div#Module_ApparelQuote_container div.step1 span.notReady,
div#Module_ApparelQuote_container div.step2 span.notReady,
div#Module_ApparelQuote_container div.step3 span.notReady,
div#Module_ApparelQuote_container div.step4 span.notReady {
	position:absolute;
	top:7px;
	left:10px;
	z-index: 2;
}
div#Module_ApparelQuote_container div.step1 div.outer,
div#Module_ApparelQuote_container div.step2 div.outer,
div#Module_ApparelQuote_container div.step3 div.outer,
div#Module_ApparelQuote_container div.step4 div.outer {
	position:relative;
	top:0px;
	left:0px;
	background-color: #eee;
	z-index: 5;
}


div#Module_ApparelQuote_container h1 {
	display:block;
	position:absolute;
	top:-20px;
	left: 0px;
	font-size:14px;
	font-weight:bold;
	margin:4px 0px 10px;
	padding:0px 4px;
}

div#Module_ApparelQuote_container table.colors {

}

div#Module_ApparelQuote_container table.colors tr {

}

div#Module_ApparelQuote_container table.colors tr td {
	padding: 2px 4px;
	width: 60px;
	vertical-align: top;
}

div#Module_ApparelQuote_container div.color {
	position: relative;
	border: 2px solid #000;
	width: 15px;
	height: 15px;
	overflow: visible;
	cursor: pointer;
}

div#Module_ApparelQuote_container div.color img {
	position: absolute;
	top: -5px;
	left: 0px;
}

div#Module_ApparelQuote_container table.sizes tr td {
	height: 28px;
	vertical-align: top;
}

div#Module_ApparelQuote_container table.sizes input {
	width: 40px;
}


div#Module_ApparelQuote_container table.areas tr td {
	vertical-align: top;
	padding: 5px 10px 25px 0px;
	position: relative;
}

div#Module_ApparelQuote_container table.areas tr td select {
	position: relative;
	top: -4px;
}

div#Module_ApparelQuote_container table.areas tr td span.selectColors {
	font-weight: bold;
}

div#Module_ApparelQuote_container table.areas tr td div.serviceColorSelector table.colors {
	margin-left: 40px;
}

div#Module_ApparelQuote_container table.areas input.embroidery_stiches,
div#Module_ApparelQuote_container table.areas input.screenprinting_colors {
	width: 40px;
}

div#Module_ApparelQuote_container div.step3 {
	position: relative;
	left: 0px;
	top: 0px;
	/*padding-bottom: 30px;*/
}

div#Module_ApparelQuote_container div.step3 table.areas tr td div.serviceColorSelector table.colors {
	margin-left: 10px;
}

div#Module_ApparelQuote_container div.step4 div.outer div.inner {
	margin-bottom: 30px;
	padding-bottom: 30px;
	overflow: visible;
}

div#Module_ApparelQuote_container div.step4 div.outer div.inner div.rush {
	padding-bottom: 10px;
}

div#Module_ApparelQuote_container div.step4 dl dt {
	float: left;
	width: 100px;
}

div#Module_ApparelQuote_container div.step4 dl dt.total,
div#Module_ApparelQuote_container div.step4 dl dd.total {
	font-weight: bold;
}

/**
 * Get quote button
 */
div#Module_ApparelQuote_container div.step4 div div input.get {
	position: absolute;
	left: 10px;
	top: auto;
	right: auto;
	bottom: 15px;
}

/**
 * Add to cart button
 */
div#Module_ApparelQuote_container div.step4 div div input.add {
	position: absolute;
	left: auto;
	right: 0px;
	top: auto;
	bottom: -30px;
}

/**
 * Price div
 */
div#Module_ApparelQuote_container div.step4 div div.price {
	position: absolute;
	right: 10px;
	top: 10px;
	text-align: right;
	font-weight: normal;
	font-size: 20px;
}

form#apparelorder_artwork_upload {
	display: block;
	position:relative;
	top:0px;
	left:0px;
	margin: 10px 0px 10px 12px;
	padding: 10px 10px 10px 10px;
	min-height: 20px;
	background-color: #eee;
	z-index: 1;
}

form#apparelorder_artwork_upload h2 {
	display: block;
	border-bottom: 1px solid #bbb;
	font-size: 14px;
	font-weight: bold;
	margin: 30px 0px 10px 0px;
	padding: 0px 4px 4px 4px;
}

form#apparelorder_artwork_upload h3 {
	font-size: 12px;
	font-weight: bold;
	margin: 0px 0px 10px 0px;;
	padding: 0px 4px 4px 0px;
}

form#apparelorder_artwork_upload fieldset {
	margin: 10px 10px 10px 14px;
	padding: 0px;
	border: none;
}

form#apparelorder_artwork_upload fieldset label {
	display: block;
	float: left;
	width: 287px;
	margin: 0px;
	padding: 0px 10px 0px 0px;
	text-align: right;
}

form#apparelorder_artwork_upload fieldset input {
	width: 250px;
}

form#apparelorder_artwork_upload fieldset input.design {
	font-size: 12px;
	font-family: "Courier New", Courier, Monaco, monospace;
	width: 250px;
}

form#apparelorder_artwork_upload fieldset textarea.notes {
	font-size: 12px;
	font-family: "Courier New", Courier, Monaco, monospace;
	width: 250px;
	height: 65px;
}

form#apparelorder_artwork_upload div.actions {
	text-align: right;
}

div.ProductImageEnlarged div.container {
	height: 630px;
	width: 540px;
}

div.ProductImageEnlarged div.main {
	height: 500px;
	text-align: center;
	padding-top: 20px;
}

div.ProductImageEnlarged div.thumbs {
	text-align: center;
}
div.ProductImageEnlarged div.thumbs ul {
	list-style: none;
	margin: 10px;
	padding: 0px;
}
div.ProductImageEnlarged div.thumbs ul li {
	margin: 0px 5px;
	padding: 0px;
	display: inline;
}

div#Module_ApparelQuote_container div.colors.menu div.value div.colorContainer div.color {
	height: 14px;
}

div#Module_ApparelQuote_container div.colors.menu div.colorContainer div.color {
	float: left;
}

div#Module_ApparelQuote_container div.areaSelection {
	padding-bottom: 30px;
}

div#Module_ApparelQuote_container div.areaSelection div {
	float: left;
	padding-right: 10px;
	width: 13%;
}

div.serviceNotes {
	position: relative;
	padding-top: 15px;
}

div.serviceNotes textarea {
	width: 450px;
	height: 50px;
}

div.ApparelOrderingSystemUploadButtonContainer {
	position: absolute;
	top: -25px;
	left: 330px;
	width: 130px;
	height: 25px;
	overflow: visible;
}

div.ApparelOrderingSystemUploadButtonContainer span.msg {
	position: absolute;
	top: 25px;
	right: 0px;
	white-space: nowrap;

}

div.ApparelOrderingSystemUploadButtonContainer object {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 2;
}


div.ECommerce_DF.ProductImageSelector {
	display: none;
}
div.storeProductPrice {
	display: none;
}