

#mtcontainer .content { margin: 0; }
div.product-title { font-size: 125%; }
/**** Isotope CSS3 transitions ****/
#mtcontainer { padding: 0; overflow: visible !important; position: relative; }
.isotop-loading { width: 100%; height: 50px; background: #fff url(images/loading.gif) no-repeat 50% 50%; z-index: 99; }
/**** Isotope Filtering ****/
.isotope-item { z-index: 2; }
.isotope-hidden.isotope-item { pointer-events: none; z-index: 1; }
/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item { -webkit-transition-duration: 0.8s; -moz-transition-duration: 0.8s; -ms-transition-duration: 0.8s; -o-transition-duration: 0.8s; transition-duration: 0.8s; }
.isotope { -webkit-transition-property: height, width; -moz-transition-property: height, width; -ms-transition-property: height, width; -o-transition-property: height, width; transition-property: height, width; }
	.isotope .isotope-item { -webkit-transition-property: -webkit-transform, opacity; -moz-transition-property: -moz-transform, opacity; -ms-transition-property: -ms-transform, opacity; -o-transition-property: -o-transform, opacity; transition-property: transform, opacity; }
	/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition { -webkit-transition-duration: 0s; -moz-transition-duration: 0s; -ms-transition-duration: 0s; -o-transition-duration: 0s; transition-duration: 0s; }
	/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling { -webkit-transition: none; -moz-transition: none; -ms-transition: none; -o-transition: none; transition: none; }
.element { margin: 0 14px 26px 0; float: left; text-align: center; padding: 0; position: relative; display: none; }
/**** Example Options ****/
#options {  }
	#options h3 { outline: none; }
	#options h4 { font-weight: bold; }
	#options ul {  }
		#options ul ul {  }
	#options li { outline: none; display: inline; }
		#options li a { float: left; font-size: 12px; height: 30px; line-height: 30px; margin: 0 0 0 3px; padding: 0 11px; display: block; outline: none; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -o-border-radius: 2px; -ms-border-radius: 2px; transition: all 400ms ease-in-out 0s; -webkit-transition: all 400ms ease-in-out 0s; -moz-transition: all 400ms ease-in-out 0s; -o-transition: all 400ms ease-in-out 0s; -ms-transition: all 400ms ease-in-out 0s; }
			#options li a.selected { font-weight: bold; }
			#options li a:hover { text-decoration: none; }
	#options .option-combo { display: inline-block; float: left; margin-right: 10px; }
		#options .option-combo ul { margin-right: 20px; display: inline-block; }
	#options ul#sort-direction { margin: 0; }
	#options .option-combo h2, 
#options .option-combo h4 { line-height: 34px; margin-bottom: 0; margin-right: 5px; display: inline-block; vertical-align: top; }
