﻿

.hidden
{
display: none;
}

#prevNext
{
margin-bottom: -2.5em;
}

#prevNext img
{
position: relative;
z-index: 2;
cursor: pointer;
}

.prvbtn{ float:left; width:35px; height:35px; padding:0 0 0 0;}
.nextbtn{ float:right; width:35px; height:35px;}
.txtrew{ float:left; width:700px; padding:25px 0 0 80px; text-align:center; }
.txtrew p{ float:left; width:100%; font-family:Georgia, "Times New Roman", Times, serif; font-size:18px; color:#002f5f; font-style:italic;}
.txtrew h3{ padding:0; margin:0; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#7b7e80; line-height:12px;}
.morerew{ float:left; width:100%;}
.morerew a{ font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#b13762;}
.morerew a:hover{ color:#7b7e80 !important; }