
body {
	background-image: none;
	background-color: #ededed;
	color: #676767;
	font-family: Lato, Arial, Helvetica, sans-serif;
	font-size: 0.813em;
}
.mt-top-menu {
	background-image: none;
	background-color: #ededed;
	font-family: Arial, Helvetica, sans-serif;
	color: #7e7e7e;
}

ul.links li:hover, ul.links li.hover {
	background-color: #ffffff;
}
ul.links li:hover a, ul.links li.hover a {
	color: #c15140;
}
.sbSelector, .sbHolder a, .sbHolder span {
	color: #7e7e7e;
}
.sbHolder a, #mt-twitter a {
	color: #002f5f;
}
.mt-footer-static-container-bottom .contact p.mailto label, .mt-footer-static-container-bottom .contact p.mailto a, #back-top a span {
	color: #a772ae;
}
.product-title span, .sku-product span, .add-to-cart .qty, .sidebar .block span, .sidebar .block label, .sidebar .block strong, .sidebar .block a, .sidebar .block p, .sidebar .block div, .products-list .desc p, .std p, .std div, .page .label, .page .badge {
	color: #676767;
}
.content-static h1, input, button, select, textarea, .checkout-cart-index .col-main .page-title h1, .checkout-cart-index .col-main .page-title h2 {
	font-family: Lato, Arial, Helvetica, sans-serif;
}
button.button span, .subscribe input.input-text {
	font-family: Lato, Arial, Helvetica, sans-serif;
}
#nav a {
	font-family: Lato, Arial, Helvetica, sans-serif;
}
ul.links li a, .cms-no-route div.std ul.disc li a:hover, #category-image .category-desc {
	color: #7e7e7e;
}
ul.links li a:hover, ul.links li a.hover, ul.links li.hover a {
	color: #c15140;
}
ul.links li a:active, ul.links li.active a, ul.links li a.active {
	color: #c15140;
}
button.button span, .sidebar .block button.button span, .sidebar .block-tags .actions a, #options li a, .ajax-checkout a, .main-inner .col-main .block.pager a {
	color: #ffffff;
}
button.button:hover span, .sidebar .block button.button:hover span, .sidebar .block-tags .actions a:hover, #options li a:hover, .ajax-checkout a:hover, .main-inner .col-main .block.pager a:hover {
	color: #ffffff;
}
.minimal-price-link .label, .product-tabs a, .product-view .product-shop .ratings a, .product-view .product-shop .no-rating a, .products-list p.rating-links a, .page-sitemap .links a, .page-sitemap .pager .amount {
	color: #454545;
	text-decoration: none;
}
a {
	color: #454545;
}
a:active {
	color: #a772ae;
}
.price, .product-details span.price, #recently-viewed-items .price-box .special-price .price, #recently-viewed-items .price-box .regular-price .price {
	color: #002f5f;
}
.mt-mask .price, .mt-mask span.price, .mt-mask .price-box .special-price .price, .mt-mask .price-box .regular-price .price, .mt-mask .mt-mask-center .wishlist a, .products-list .products-list-inner .wishlist p a, #mtcontainer .products-grid .mt-mask .mt-mask-bottom button.btn-cart span, #upsell-product-table .mt-mask button.btn-cart span, #block-related .mt-mask button.btn-cart span, .category-products .products-grid .mt-mask button.btn-cart span, .mt-mask button.btn-cart span {
	color: #a772ae;
}
.page a:hover, a:hover, .breadcrumbs li strong, .ajax-container .product-details a:hover, .block-account .block-content li.current strong, .checkout-progress li.active, .mt-empty p.note-msg, .mask h2.product-name a:hover, .mask h2.product-name:hover a, .page-sitemap .links a:hover, .content-static p.view a:hover, .block-layered-nav dd li a:hover, .sidebar .block a:hover, .block-layered-nav dd li a:hover span, .sidebar .block a:hover, .sidebar .block a:hover span, .products-list p.rating-links a:hover, .mt-smartmenu .block-title strong span, .product-view .product-shop .ratings a:hover, .product-view .product-shop .no-rating a:hover, .mt-poll-label label:hover {
	color: #002f5f;
}
.mask h3.product-name a:hover {
}
h1, h2, h3, h4, h5, h6 {
 font-family:;
}
#nav > li > a.hover, .navbar .btn-navbar, .navbar-inner .block-title, #megamenu li.background, #nav li.over a, #nav li a.level-top:hover {
	background-color: #002f5f;
}
#nav > li > a.hover, .navbar .btn-navbar, .navbar-inner .block-title, #megamenu li.background, #nav li.over a, #nav li a.level-top.actnav {
	background-color: #002f5f; color:#FFF;
}
.sbHolder, #megamenu li.root > div.childcontent {
	border-color: #a772ae;
}
#megamenu li.root > div.childcontent {
	border-top-color: #a772ae;
}
#nav li.custom-block h1, #nav li.custom-block h2, #nav li.custom-block h3, #nav li.custom-block h4, #nav li.custom-block h5, #nav li.custom-block h6, #nav li.custom-block p, #nav ul.level0 li.menu-static-blocks p, #nav ul.level0 li.menu-static-blocks, ul li.menu-static-blocks h1.label, ul li.menu-static-blocks h2.label, ul li.menu-static-blocks h3.label, ul li.menu-static-blocks h4.label, ul li.menu-static-blocks h5.label, ul li.menu-static-blocks h6.label, ul li.menu-static-blocks p.info {
	color: #4a4a4a;
}
#nav li.active a.level-top {
	background-color: #a772ae;
	color: #ffffff;
}
#nav li a.level-top:hover, #nav li a.level-top.hover {
	color: #ffffff;
}
.page-sitemap .pager .pages li.current, .page-sitemap .pager .pages li a:hover {
	color: #7e7e7e;
}
#megamenu div.childcontent ul li a:hover, #nav li.level0 ul li a:hover {
	color: #c15140;
}
#nav ul.level0 li.menu-static-blocks p.more-link a {
	color: #ffffff;
}
#nav ul.level0 li.menu-static-blocks p.more-link a:active, #nav a, #megamenu a, #nav li.level0 a {
	color: #757575;
}
.header {
	background-image: none;
	background-color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	color: #adadad;
}
.header h1, .header h2, .header h3, .header h4, .header h5, .header h6, .header p, .header-static ul li {
	color: #adadad;
}
.top-search label.label {
	color: #454545;
}
.product-view .product-shop a.link-wishlist:hover span.label, .product-view .product-shop a.link-compare:hover span.label, .product-view .product-shop .email-friend a:hover span.label, .product-view .product-shop .availability span {
	color: #a772ae;
}
.header a, .header-static ul li small, .header-static ul li a {
	color: #676767;
}
.header a:hover, .header-static ul li a:hover, .header-static ul li a.hover, .header-static ul li.hover a {
	color: #a772ae;
}
.header a:active, .header-static ul li a:active, .header-static ul li a.active, .header-static ul li.active a {
	color: #a772ae;
}
.header-static p:hover, .sbOptions li a:hover, ul#sort-direction li a.selected, .catalog-category-view .page-title, .sidebar .title-divider span, .products-list .title-divider span, div.title-divider span, .fieldset .legend, .box-collateral .pagenav span:hover, .breadcrumbs .mt-page-title {
	background-color: #9e053b;
}
#megamenu {
	color: #4a4a4a;
}
#nav ul.level0 li.menu-static-blocks p.more-link a, #options li a, .toolbar .pager .pages li a.next, .page-sitemap .pager .pages li a.next, .toolbar .pager .pages li a.previous, .block-poll button span, .block-tags .actions a, .ajax-checkout a, .main-inner .col-main .block.pager a, .buttons-set button.button span, table button.button span, .sidebar .actions button.button span, .product-view #addTagForm button.button span, .products-list-inner button.button, .products-list-inner .wishlist p, .products-list-inner .compare p, .products-list-inner p.availability, a.backtohome {
	background-color: #002f5f;
}
div.logopagenave > button:hover, .mt_productscroller .pagenave > button:hover, .toolbar .pager .pages li a.next:hover, .page-sitemap .pager .pages li a.next:hover, .toolbar .pager .pages li a.previous:hover, .block-poll button:hover span, .block-tags .actions a:hover, .ajax-checkout a:hover, .main-inner .col-main .block.pager a:hover, .buttons-set button.button:hover span, table button.button:hover span, a.backtohome:hover, .sidebar .actions button.button:hover span, .product-view #addTagForm button.button:hover span, div.mt-actions p:hover, .products-list-inner button.button:hover, .products-list-inner .wishlist p:hover, .products-list-inner .compare p:hover, .products-list-inner p.availability:hover {
	background-color: #9e053b;
}
#nav ul.level0 li.menu-static-blocks p.more-link a:hover, #options li a:hover, #options li a.selected {
	background-color: #e2e2e2;
}
/********************FOOTER************************/
.footer-container {
	background-image: none;
	background-color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	color: #676767;
}
.footer-container .footer address {
	font-family: Arial, Helvetica, sans-serif;
}
.footer-container a {
	color: #676767;
}
.footer-container a:hover {
	color: #002f5f;
}
.footer-container a:active {
	color: #a772ae;
}
.footer-container, .footer-container p, .footer-container h1, .footer-container h2, .footer-container h3, .footer-container h4, .footer-container h5, .footer-container h6, .footer-container div, .footer-container span {
	color: #676767;
}
.mt-footer-static-container a, .mt-footer-static ul li a, .footer-static-content p {
	color: #838383;
}
.mt-footer-static-container a:hover, .mt-footer-static ul li a:hover {
	color: #9e053b;
}
.mt-footer-static-container a:active, .mt-footer-static ul li a:active {
	color: #a772ae;
}
.mt-footer-static-container h1, .mt-footer-static-container h2, .mt-footer-static-container h4, .mt-footer-static-container h5, .mt-footer-static-container h6, .mt-footer-static-container p, .mt-footer-static-container span, .mt-footer-static-container strong, .mt-footer-static-container label, .mt-footer-static-container, .mt-footer-static-container-bottom .mt-footer-static, .footer-static-title h1, .footer-static-title h2, .footer-static-title h4, .footer-static-title h5, .footer-static-title h6 {
	color: #676767;
}
.mt-footer-static-container {
	background-image: none;
	background-color: #ffffff;
	
}
.opc .step-title, .block-progress dt, .block-progress dt.complete, table thead {
	background-color: #002f5f; 
}
.checkout-progress li div, .table-bordered th, .table-bordered td, .table th, .table td, .table-bordered {
	/*border-color: #ececec;*/
}
.opc .active .step-title {
	background-color: #a772ae;
}
.opc .active .step, .checkout-progress li.active div {
	border-color: #a772ae;
}
#nav .sub-wrapper {
	background-color: #ffffff;
}
.top-cart a.cart-link span.icon, .product-view .product-shop .add-to-cart input.items, .ajax-container .product-details .btn-edit span.icon, .ajax-container .product-details .btn-remove span.icon, .main-inner .col-main .block.pager a, table td a.btn-edit, table th a.btn-edit, table td a.btn-remove, table th a.btn-remove, .crosssell button.button span, .crosssell .add-to-links li a, .btn-remove span.icon, .btn-edit span.icon, .block-related .product-title .pagenav span, .block-compare .btn-remove, .box-collateral .pagenav span, .cms-no-route div.std ul.disc li a, .page-sitemap .pager .pages li.current, .header-static p, #multiship-addresses-table td .btn-remove2, .ajax-container .access a span.icon, .block-compare li a.btn-remove, .my-wishlist a.btn-edit, .my-wishlist a.btn-remove, ul#sort-direction li a, .box-collateral .pagenav span, .mt-more-views span.prev, .mt-more-views span.next, div.logopagenave > button, .mt_productscroller .pagenave > button {
	background-color: #cfcfcf;
}
.toolbar .pager .pages .current, .toolbar .pager .pages li a:hover, .product-view .product-shop .add-to-cart input.items:hover, .ajax-container .product-details .btn-edit span.icon:hover, .ajax-container .product-details .btn-remove span.icon:hover, .main-inner .col-main .block.pager a:hover, .btn-remove span.icon:hover, .btn-edit span.icon:hover, .block-related .product-title .pagenav span:hover, .block-compare .btn-remove:hover span.icon, .mt-more-images span:hover, .ajax-container .access a:hover span.icon, a.btn-edit:hover span, a.btn-remove:hover span, button.btn-edit:hover, button.btn-remove:hover, .block-compare li:hover a.btn-remove, .block-compare .block-content .actions a:hover span.btn-remove, .my-wishlist a.btn-edit:hover, .my-wishlist a.btn-remove:hover, table td a.btn-edit:hover, table th a.btn-edit:hover, table td a.btn-remove:hover, table th a.btn-remove:hover, ul#sort-direction li a:hover, .search-form-border, .crosssell button.button:hover span, .crosssell .add-to-links li a:hover, div.logopagenave > button:hover, .mt_productscroller .pagenave > button:hover {
	background-color: #002f5f;
}
.product-view .product-shop .add-to-cart .addcart button span, .product-view .product-shop .add-to-cart button.btn-cart span, .products-list .products-list-inner .pull-left button.button span, button.btn-checkout span, .my-wishlist button.btn-cart span, .mt-footer-static-container-top .icon, .subscribe button span, .slide_item p.readmore, #back-top a {
	background-color: #9e0546; border:2px solid #d17a99;
}
.product-view .product-shop .add-to-cart .addcart button:hover span, .products-list .products-list-inner .pull-left button.button:hover span, .product-view .product-shop .add-to-cart button.btn-cart:hover span, button.btn-checkout:hover span, .my-wishlist button.btn-cart span:hover, .mt-footer-static-container-top .icon:hover, .subscribe button:hover span, #back-top a:hover {
	background-color: #a10c40;
}
#mtcontainer div.product-image:hover .mask h3.product-name, .products-grid div.product-image:hover .mask h3.product-name, .block-related div.product-image:hover .mask h3.product-name {
	display: block;
	height: auto;
	margin: 50px auto 0;
	color: #FFFFFF;
	height: 45px;
	min-height: 45px;
}
#mtcontainer div.product-image:hover .mask h3.product-name a, #mt_productscroller div.product-image:hover .mask h3.product-name a, .products-grid div.product-image:hover .mask h3.product-name a, .block-related div.product-image:hover .mask h3.product-name a {
	color: #FFFFFF;
	outline: none;
}
#mtcontainer div.product-image:hover .mask .short-description, #mt_productscroller div.product-image:hover .mask .short-description, .products-grid div.product-image:hover .mask .short-description, #mtcontainer div.product-image:hover .mask .ratings, #mt_productscroller div.product-image:hover .mask .ratings, .products-grid div.product-image:hover .mask .ratings, .block-related div.product-image:hover .mask .ratings {
	height: auto;
	margin: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	zoom: 1;
	filter: alpha(opacity=1);
	opacity: 1;
}
#mt_productscroller div.product-image:hover .mask {
	height: 100%;
}
.mt-mask {
	-webkit-transform: scale(0);
	-webkit-transition: all 0.4s ease-in-out 0s;
	border: 3px solid #fff;
	box-shadow: 0 0 15px #c0c0c0;
	left: 0;
	opacity: 0;
	filter: Alpha(opacity=0);
	display: block;
	position: absolute;
	top: 0;
	transform: scale(0);
	transition: all 0.4s ease-in-out 0s;
	z-index: 999;
}
.products-grid .product-image:hover .mt-mask, .products-grid .mask:hover .mt-mask, .related-product-grid .product-image:hover .mt-mask, .mt_productscroller .product-image:hover .mt-mask {
	-webkit-transform: scale(1);
	opacity: 1;
	filter: Alpha(opacity=100);
	transform: scale(1);
}
.ordbord{ float:left; width:100%;}







