.mt_productscroller { position:relative; display:block; clear: both; width: 100%; height: 450px }
.scroller-slider { display:block; overflow: hidden !important; padding:0px 0; margin: 0; position: relative; width: 100%; float:left; }
.scroller-slider > ul { display:block; overflow:hidden; height: 450px }
.scroller-slider > ul > li { padding:0; overflow:visible !important; margin:0 14px 0 0; position:relative; height: auto !important; }
.scroller-slider > ul > li:hover a.bg-transparent { transform: scale(1); visibility: visible; }
.scroller-slider > ul > li a.bg-transparent { display: block; left: 7px; position: absolute; text-align: center; text-indent: -999em; top: 6px; transform: scale(0); transition: all 300ms ease-in-out 0s; visibility: hidden; }
.scroller-slider > ul > li a.bg-transparent { width:95%; height:73%; }
.scroller-slider > ul > li.loading { background:url("../images/loading.gif") no-repeat center; }
.scroller-slider div.catpanel { display:block; text-align: center; visibility: hidden; opacity: 0; }
.scroller-slider div.catpanel > div { display:block; margin:0; text-align: center; }
.scroller-slider div.catpanel > div > a { display:block; }
.scroller-slider div.catpanel > div > a.img { padding: 5px; border:1px solid #ddd; box-shadow: 0 0 5px #ccc; display: table; margin:auto; }
.scroller-slider div.catpanel a img { transition: all 0.4s ease 0s; }
.scroller-slider div.catpanel > div > a img:hover { }
.scroller-slider div.catpanel > div > span.img { padding: 5px; border:1px solid #ddd; box-shadow: 0 0 5px #ccc; display: table; margin:auto; }
.scroller-slider div.catpanel > div > a.img:hover { opacity:0.9; border: 1px solid #b7b7b7; }
.scroller-slider div.catpanel > div > span.img:hover { opacity:0.9; border: 1px solid #b7b7b7; }
.scroller-slider div.catpanel > div > .product-name { margin:10px 0; }
.scroller-slider div.catpanel > div > .price-box { float: left; margin: 0; text-align: center; width: 50%; }
.scroller-slider div.catpanel > div > a.title { margin:10px 0; font-size:120%; Robel:Tahoma; }
.scroller-slider div.catpanel > div.block p { margin: 0; }
div.pagenave { display: block; width:100%; }
div.pagenave > button { height:35px; width:19px; display:block; border:none; cursor:pointer; padding:0; background:url("../images/nav.png") no-repeat; }
div.pagenave > .next {  float:right; margin:0 0 0 5px; }
div.pagenave >.prev {  float:left; margin-left: -28px; }
div.control { display: block; float: left; position: absolute; bottom: 1px; left: 1px; z-index: 9; }
div.control span { float: left; width: 10px; height: 10px; border: #dfdfdf solid 1px; margin-right: 3px; font-size: 11px; padding: 0 0 3px 3px; cursor: pointer; }
/**
 * Caption
 */
.ic_caption { line-height: 30px; overflow: hidden; text-align: center; }
.ic_caption button.btn-cart { background:url("../images/icon_cart.png") no-repeat 0 0 scroll transparent; padding:0 0 0 20px; }
.ic_caption button.btn-cart span { background:0 none; border: 0 none; color:#0c72ad; padding:0 8px 0 0; }
.ic_caption .price-box { clear: both; line-height: 30px; margin: 0 0 0 10px; width: 100%; }
.ic_caption .mt-slider-actions { margin:0 10px 0 0; line-height:30px; }
.scroller-slider li a.zoom-image { background:url("../images/search.png") no-repeat 0 0; width:41px; height:39px; position:absolute; display:none !important; }
.scroller-slider li:hover a.zoom-image { display:block !important; }
