body {
	background: url(../images/bg.png) repeat;
}

.navbar .brand {
	font-size: 16px;
	padding: 0;
	line-height: 40px;
	color: #000000;
	float: right;
	font-weight: bold;
	margin-left: 20px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.125);
}

#main-container {
	margin-top: 40px;
	margin-left: 10px;
}

#logo {
	display: block;
	margin: 0 auto 30px;
}

#content > div {
	margin-bottom: 7px; margin-top:15px;
}

#buy-ribbon {
	background: url(../preview/buy.png) no-repeat;
	display: block;
	position: absolute;
	top: -15px;
	right: -15px;
	width: 78px;
	height: 78px;
}

.page-header {
	border-bottom: 1px solid #dfdfdf;
	padding-bottom: 0;
	-webkit-box-shadow: 0px 1px 0px 0px #ffffff;
	box-shadow: 0px 1px 0px 0px #ffffff; 
}

.api-buttons {
	margin-top: 20px;
}

.api-buttons > a {
	margin-right: 10px;
}

h2 small {
	font-size: 16px;
}

.price {
	font-size: 25px !important;
	line-height: 26px !important;
}

.output {
	width: 100%;
	height: 200px;
	background: #fff;
	border: 1px solid #e6e6e6;
	overflow: auto;
}

.output p {
	padding-left: 10px;
}

pre {
	font-size: 10px;
	margin-bottom: 20px !important;
}

.controls > div {
	margin-bottom: 10px;
}

.controls {
	margin-bottom: 28px;
}

.control-label {
	color: #555555;
	font-weight: bold;
}

.offset-top {
	margin-top: 20px;
}

#ipod-designer > div {
	height: 400px;
}


#ipod-designer > div > div {
	height: 370px;
}


#businnescard-designer > .fpd-product-container {
	width: 620px;
}

.dropped {
	text-decoration: line-through;
}

.tab_13{
	float: left !important;
	height: 44px !important;
	margin:0 0 0 5px !important;
	width: 650px !important; overflow:inherit !important; background:none !important; border:0 !important; 
} 
.tab_13 a{
	cursor: pointer; float:left; padding:5px 25px 5px 25px !important; margin:0 2px 0 0 !important; background:url("../images/activebg.png") repeat scroll 0 0 transparent;
	height:34px !important; font-size:18px !important; line-height:34px !important; border-radius:5px 5px 0 0; color:#4E5A66;	
}
.tab_13 a.activetab{ background:url("../images/taact-btnbg.png") repeat scroll 0 0 transparent; padding:5px 25px 5px 25px !important; color:#FFF;}
#category_section{
	/*height: 35px; padding:5px 0 0 5px;	*/
	height: auto; padding: 5px 0 4px 5px;
}
#product_category_section{
	height: 564px;
	width:53%; 
}
#fpd-clearfix_id_product li{
	width:18%;
	float: left; border:1px solid #D3D3D3; text-align:center; margin:0 5px 5px 0; cursor:pointer;
}
#fpd-clearfix_id_product li:hover{ border:1px solid #38b3ca;}
#selectProductCategory {
	height: 35px; padding:5px 0 0 5px;
}
#selectProductCategory select { height:29px;}
#category_section select{ height:29px;}
.colboxmain{ float:left; width:96%; background: linear-gradient(to bottom, #FFFFFF 0%, #EEEEEE 100%) repeat scroll 0 0 transparent;
    border: 1px solid #D3D3D3;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 0 0 #FFFFFF; padding:15px;}
#colorBox{ float:left; width:36%;}
#sizeBox{ float:left; width:48%;}
#sizeBox select{ width:100px; height:29px;}
.uploadimg{ float:left !important; margin:0 0 0 0 !important; height:27px !important; line-height:27px !important; padding:0 10px !important; background:url(../images/upd-btnbg.png) repeat-x left top !important; border-radius:5px;}
.uploadimg:hover{ background:url(../images/hover-btnbg.png) repeat-x left top !important;}
.prdboxside{ float:left; width:97.5%; padding:3% 0 0 2.5% !important; }
.colorbox{ border:1px solid #999; padding:2px; float:left; margin:0 5px 5px 0;}
.fpd-reset{ background: url(../images/upd-btnbg.png) repeat-x scroll left top transparent !important;}
.fpd-deselect{ background: url(../images/upd-btnbg.png) repeat-x scroll left top transparent !important;}

.add_to_cart_btn{float:right;}
.prod_price{ float:left; font-size:22px; padding:5px 25px 0 0; color:#c83f40;}
.sizehd{ font-size:18px; float:left; width:20%; padding:0 5px 0 0; text-align:right;}
.addcat{ color:#FFF; text-decoration:none; padding:0 20px !important; font-size:18px;}

/*.fpd-element{left: 0 !important; margin-left: 64px !important; top: 0 !important;  margin-top: 55px !important;}
.fpd-editable{margin-left: 180px !important; margin-top: 200px !important;}*/
