<select id="iStateId" name="Data[iStateId]" title="State"  style="width:250px" >
    <option value=''>--Select State--</option>
    {section name=i loop=$db_state}
    <option value='{$db_state[i]->iStateId}'>{$db_state[i]->vState}</option>
    {/section}						
</select>