
<div id="wrapper">
 
<section id="middile_container">
<!-- LEFT  PART START-->
<article id="leftpart">
<div class="fleft">

<!--porfolio page start here-->


<div class="porfolio_body_box">

<div class="porfolio_header">
<div class="header_txt">Portfolio<span>&nbsp; What we Provide</span></div>

<div class="web_wordpress">

</div>

</div>
<div class="clear"></div>

<div class="main_pofolio_images_box">

<div class="porfolio_img_head_box">
</div>
<div class="clear"></div>
<div class="porfolio_img_middle_box">

<div class="img_left"><a href="#"><img src="images/portfolio_img1.png" alt=""></a></div>

<div class="img_left"> <span>Troop Tree </span>
<p>TroopTree is web application for army family, where they can send and record video via this application. Application is developed using... </p>

<div class="main_read_more_btn_box">
<div class="read_more_btn"><a href="#">Read More </a></div>
 <a href="#"><img src="images/read_more_btn_shadow.gif" alt=""></a></div>
</div>

</div>
<div class="clear"></div>
<div class="porfolio_img_botto_box">
</div>


</div>
<div class="clear"></div>

<div class="main_pofolio_images_box">

<div class="porfolio_img_head_box">
</div>
<div class="clear"></div>

<div class="porfolio_img_middle_box">

<!-- fancy start-->
<div class="img_left"><a href="#" id="keeptree"><img src="images/portfolio_img2.png" alt=""></a></div>
<!-- fancy end -->

<div class="img_left"><a href="#keep" id="keeptree"><img src="images/portfolio_img2.png" alt=""></a></div>

<div class="img_left"> <span>Keep Tree </span>
<p>Application is developed using PHP and MySQL as well as lots of other features like Social Media Integration, Fconnect Login, and Twitter... </p>

<div class="main_read_more_btn_box">
<div class="read_more_btn"><a href="#">Read More </a></div>
 <a href="#"><img src="images/read_more_btn_shadow.gif" alt=""></a></div>
</div>

</div>
<div class="clear"></div>
<div class="porfolio_img_botto_box">
</div>


</div>


<div class="clear"></div>


<div class="main_pofolio_images_box">

<div class="porfolio_img_head_box">
</div>
<div class="clear"></div>
<div class="porfolio_img_middle_box">

<div class="img_left"><a href="#"><img src="images/portfolio_img3.png" alt=""></a></div>

<div class="img_left"> <span>Ops24X7 </span>
<p>Ops24x7 is CMS website made in wordpress3.0, website purpose is to display Services for the users and they can contact online via website...</p>

<div class="main_read_more_btn_box">
<div class="read_more_btn"><a href="#">Read More </a></div>
 <a href="#"><img src="images/read_more_btn_shadow.gif" alt=""></a></div>
</div>

</div>
<div class="clear"></div>
<div class="porfolio_img_botto_box">
</div>


</div>


<div class="clear"></div>

<div class="main_pofolio_images_box">

<div class="porfolio_img_head_box">
</div>
<div class="clear"></div>
<div class="porfolio_img_middle_box">

<div class="img_left"><a href="#"><img src="images/portfolio_img4.png" alt=""></a></div>

<div class="img_left"> <span>TriZellion  </span>
<p>TriZellion™ was founded for the purpose of expanding the availability of adult autologus cells, Dendritic cells treatments throughout the world. </p>

<div class="main_read_more_btn_box">
<div class="read_more_btn"><a href="#">Read More </a></div>
 <a href="#"><img src="images/read_more_btn_shadow.gif" alt=""></a></div>
</div>

</div>
<div class="clear"></div>
<div class="porfolio_img_botto_box">
</div>


</div>


<div class="clear"></div>


<div class="main_pofolio_images_box">

<div class="porfolio_img_head_box">
</div>
<div class="clear"></div>
<div class="porfolio_img_middle_box">

<div class="img_left"><a href="#"><img src="images/portfolio_img5.png" alt=""></a></div>

<div class="img_left"> <span>The Harvest Room! </span>
<p>The Harvest Room Is A Full-Service Caterer and Event Venue under the Strict Supervision of The Kashruth Council of Canada (COR)</p>

<div class="main_read_more_btn_box">
<div class="read_more_btn"><a href="#">Read More </a></div>
 <a href="#"><img src="images/read_more_btn_shadow.gif" alt=""></a></div>
</div>

</div>
<div class="clear"></div>
<div class="porfolio_img_botto_box">
</div>


</div>



<div class="main_pofolio_images_box">

<div class="porfolio_img_head_box">
</div>
<div class="clear"></div>
<div class="porfolio_img_middle_box">

<div class="img_left"><a href="#"><img src="images/portfolio_img6.png" alt=""></a></div>

<div class="img_left"> <span>Arriba! estates </span>
  <p>Location and quality. Probably the finest apartment on Mijas Golf. Single Home are acknowledged as the best quality builders.</p>

<div class="main_read_more_btn_box">
<div class="read_more_btn"><a href="#">Read More </a></div>
 <a href="#"><img src="images/read_more_btn_shadow.gif" alt=""></a></div>
</div>

</div>
<div class="clear"></div>
<div class="porfolio_img_botto_box">
</div>


</div>




<div class="clear"></div>

</div>

<div class="body_bottom_line"><img src="images/body_bottom_line.png" alt="" /></div>

    
      
 
    </div>
    
    
<!--porfolio page end here-->      
    
</article>

<!-- LEFT  PART END -->

<!-- RIGHT  PART START -->
<aside>
<div id="rightside">

<div id="rightheaderbg">Categories</div>
<div class="why_choose_us_service_box">
<ul style="padding-left:10px;">
<li class="new_line"><a href="#">Web Development<span>(4)</span></a></li>
<li class="new_line"><a href="#" class="active">Web Designing<span>(4)</span></a></li>
<li class="new_line"><a href="#">iPhone Applications<span>(5)</span></a></li>
<li class="new_line"><a href="#">Android Applications<span>(5)</span></a></li>
<li class="new_line"><a href="#">Mobile Website<span>(4)</span></a></li>
<li class="new_line"><a href="#">Cloud Applications<span>(1)</span></a></li>
<li class="new_line"><a href="#">Game Development<span>(2)</span></a></li>
</ul>
</div>
<div>&nbsp;</div>

<div id="rightheaderbg">Industries</div>
<div class="why_choose_us_service_box">
<ul style="padding-left:10px;">
<li class="new_line"><a href="#">Apparel Clothing      <span>(4)</span></a></li>
<li class="new_line"><a href="#">Automotive     <span>(4)</span></a></li>
<li class="new_line"><a href="#">Broadcasting <span>(5)</span></a></li>
<li class="new_line"><a href="#">Business Services  <span>(5)</span></a></li>
<li class="new_line"><a href="#">Education & Training Services<span>(3)</span></a></li>
<li class="new_line"><a href="#">Entertainment <span>(4)</span></a></li>
<li class="new_line"><a href="#">Finance <span>(1)</span></a></li>
<li class="new_line"><a href="#">Food and beverages  <span>(2)</span></a></li>
<li class="new_line"><a href="#">Health Care   <span>(3)</span></a></li>
<li class="new_line"><a href="#">Hotel and Travel    <span>(6)</span></a></li>
<li class="new_line"><a href="#">Information Technology   <span>(2)</span></a></li>
<li class="new_line"><a href="#">Multimedia  <span>(1)</span></a></li>
<li class="new_line"><a href="#">Non-profit  <span>(1)</span></a></li>
<li class="new_line"><a href="#">Property   <span>(4)</span></a></li>
<li class="new_line"><a href="#">Toy and hobby  <span>(1)</span></a></li>
<li class="new_line"><a href="#">Trade & Retail  <span>(4)</span></a></li>
</ul>
</div>


<div>&nbsp;</div>
<div id="rightheaderbg">Technology</div>
<div class="why_choose_us_service_box">
<ul style="padding-left:10px;">
<li class="new_line"><a href="#">PHP Development <span>(4)</span></a></li>
<li class="new_line"><a href="#" class="active">Ruby on Rails Development<span>(4)</span></a></li>
<li class="new_line"><a href="#">Wordpress Development<span>(5)</span></a></li>
<li class="new_line"><a href="#">Magento Development<span>(5)</span></a></li>
<li class="new_line"><a href="#">Joomla Development<span>(3)</span></a></li>
<li class="new_line"><a href="#">iPhone Applications<span>(4)</span></a></li>
<li class="new_line"><a href="#">Android Applications<span>(1)</span></a></li>
<li class="new_line"><a href="#">PhoneGap Applications <span>(3)</span></a></li>
<li class="new_line"><a href="#">jQuery Mobile Website <span>(6)</span></a></li>
<li class="new_line"><a href="#">Sencha Mobile Website<span>(2)</span></a></li>
<li class="new_line"><a href="#">Node.js & MongoDB<span>(1)</span></a></li>
</ul>
</div>

        <div class="guaranteed_box"> <img src="images/freeguaranteed_banner2.png" alt=""></div>
      </div>

</aside>
<!-- RIGHT  PART END -->
<div class="clear"></div>
</section> 

<!-- PROJECT PART START -->
<div class="recent_txt_box">
<div class="recent_project_txt">Recent <span style="color:#3896ff;"> &nbsp;Project</span></div>

<div id="jslidernews5" class="lof-slidecontent" style=" width:1000px; height:150px;	">
                    
                  <div class="button-previous2">Previous</div>

                  <div class="main-slider-content" style=" width:10000px; ">
                    <div  class="sliders-wrapper">
                    <ul class="sliders-wrap-inner" style="margin-left:18px;">
                    <li><a href="#"><img src="images/img1.png" alt=""></a></li> 
                    <li><a href="#"><img src="images/img2.png" alt=""></a></li> 
                    <li><a href="#"><img src="images/img3.png" alt=""></a></li>                                        
                    <li><a href="#"><img src="images/img4.png" alt=""></a></li> 
                    <li><a href="#"><img src="images/img5.png" alt=""></a></li>
                    <li><a href="#"><img src="images/img6.png" alt=""></a></li>
                    <li><a href="#"><img src="images/img1.png" alt=""></a></li> 
                    <li><a href="#"><img src="images/img2.png" alt=""></a></li> 
                    <li><a href="#"><img src="images/img3.png" alt=""></a></li>                                        
                    <li><a href="#"><img src="images/img4.png" alt=""></a></li> 
                    <li><a href="#"><img src="images/img5.png" alt=""></a></li>
                    <li><a href="#"><img src="images/img6.png" alt=""></a></li> 
                  </ul>
              </div>  	
          </div>
 
 <div class="button-next2"></div>
  </div>
 
</div>
<!-- PROJECT PART END -->
</div>
