<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link href="{$admin_css_path}style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{$admin_js_path}jquery.min.js"></script>
<script type="text/javascript" src="{$admin_js_path}jlist.js"></script>
<script type="text/javascript">
    var admin_url ='{$admin_url}';
</script>


</head>
<body>
<div class="sitecontainer">
	<div class="header">
		<div class="logo_frinent"><img src="{$admin_image_path}logo.png" alt="" title="" /></div>
	</div>
